<div class="button-up show" id="button-up">
  <svg class="button-up_svg" width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.500002 9.5064L10.8765 0.393341L21.2529 9.50641L18.8333 12.2614L12.7098 6.88345L12.7098 23L9.04312 23L9.04312 6.88345L2.91958 12.2614L0.500002 9.5064Z" fill="white"/>
  </svg>
  <p class="button-up_text">Догори</p>
  <div class="button-up_line"></div>
</div>
