<div class="faq_main anim-items">
    <div class="wrapper">
        <p class="faq_main_title">Відповіді на поширені питання</p>

        <div class="faq_block hover_style">
            <div class="qst_block">
                <p class="qst_text">
                    Чи є у вас власні групи реагування?
                </p>
                <div class="btn_faq">
                </div>
            </div>
            <div class="box invisible">
                <p class="ans ans_text">
                    Так. Ми моємо власні групи реагування.
                </p>
                <div class="faq_line"></div>
                <p class="ans_text example">
                    Для більш точної інформації що до реагування в Вашому регіоні ми пропонуємо вам
                    зв'язатися з менеджером.
                </p>
            </div>
        </div>

        <div class="faq_block hover_style">
            <div class="qst_block">
                <p class="qst_text">
                    Чи мають ваші охоронники вогнепальну зброю?
                </p>
                <div class="btn_faq">
                </div>
            </div>
            <div class="box invisible">
                <p class="ans ans_text">
                    Ні. Згідно чинного законодавства України вогнепальну зброю має тільки
                    національна поліція.
                </p>
                <div class="faq_line"></div>
                <p class="ans_text example">
                    Наші групи реагування мають травматичну зброю, яка дозволяє затримати зловмисника та передати
                    його до національної поліції.
                </p>
            </div>

        </div>

        <div class="faq_block hover_style">
            <div class="qst_block">
                <p class="qst_text">
                    Як проводиться контроль несення служби на об'єкті фізичної охорони?
                </p>
                <div class="btn_faq">
                </div>
            </div>
            <div class="box invisible">
                <p class="ans ans_text">
                    Під кожний об'єкт нашими фахівцями індивідуально розроблюється свій план та графік перевірок.
                </p>
                <div class="faq_line"></div>

                <p class="ans_text example">
                    Наприкла, кожен об'єкт контролюється планово (телефонний контроль, житонний контроль, перевірка
                    начальником охорони), та  раптові нічні або денні перевірки власною службою безпеки.
                </p>
            </div>

        </div>

        <div class="faq_block hover_style">
            <div class="qst_block">
                <p class="qst_text">
                    Як ваша компанія працює в умовах блек ауту?
                </p>
                <div class="btn_faq">
                </div>
            </div>
            <div class="box invisible">
                <p class="ans ans_text">
                    В умовах блек ауту наша компанія працює в штатному режимі. Ми маємо генератори, батареї та
                    все необхідне, що може забезпечити стабільну роботу обладнання терміном більше 2-х діб.
                </p>
                <div class="faq_line"></div>

                <p class="ans_text example">
                    Але на об'єктах охорони можуть виникати проблеми зі зв'язком або резервним живленням. Тому віримо в ЗСУ та чекаємо на перемогу!
                </p>
            </div>

        </div>

    </div>
</div>