<div class="wrapper header-big">
        <div class="header-main-menu">
            <a class="header-main-logo-box" href="/index.html">
                <svg class="header-main-logo" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                     width="1146px"
                     height="1106px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                     viewBox="0 0 1237.93 1194.17">
                     <defs>
                        <linearGradient id="id0" gradientUnits="userSpaceOnUse" x1="-128.23" y1="314.6" x2="1080.18" y2="754.43">
                         <stop offset="0" stop-opacity="1" stop-color="#FFFCE4"/>
                            <stop offset="1" stop-opacity="1" stop-color="#FEFEFE"/>
                        </linearGradient>
                         <linearGradient id="id1" gradientUnits="userSpaceOnUse" x1="146.24" y1="1512.49" x2="1133.14" y2="1031.15">
                         <stop offset="0" stop-opacity="1" stop-color="#DDCA00"/>
                             <stop offset="0.490196" stop-opacity="1" stop-color="#E5C800"/>
                             <stop offset="0.541176" stop-opacity="1" stop-color="#EFD400"/>
                             <stop offset="0.588235" stop-opacity="1" stop-color="#FFED00"/>
                             <stop offset="1" stop-opacity="1" stop-color="#FFED00"/>
                        </linearGradient>
                     </defs>
                    <g id="Слой_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"/>
                        <g id="_2035487556368">
                               <polygon fill="#FFFCE4" points="303.16,271.32 933.55,271.32 619.33,891.28 "/>
                            <polygon fill="#00A0E3" points="619.37,866.26 619.4,1192.39 1237.13,0.49 916.26,282.4 "/>
                            <polygon fill="url(#id0)" points="0.8,0.49 321.67,282.4 916.1,282.8 1237.13,0.49 "/>
                            <polygon fill="url(#id1)" points="619.43,1192.29 619.47,866.12 322.09,282.8 1.06,0.49 "/>
                            <polygon fill="none" stroke="#2B2A29" stroke-width="0.97" stroke-miterlimit="22.9256" points="0.8,0.49 1237.13,0.49 619.87,1193.11 "/>
                            <path fill="#393185" d="M619.77 789.95l-218.5 -440.58 435.39 0 -28.3 61.71 -315.55 0 27.2 58.19 260.16 0 -160.4 320.68zm-0.44 -121.43l-73.95 -143.49 147.91 0 -73.96 143.49z"/>
                            <path fill="#393185" d="M389.41 448.26l15.8 30.17 -5.49 2.87 -12.57 -24 -14.34 7.51 5.81 11.1c2.15,4.09 3.47,7.56 3.94,10.4 0.49,2.82 0.04,5.54 -1.37,8.13 -1.39,2.6 -3.54,4.65 -6.41,6.17 -2.35,1.22 -4.82,1.84 -7.42,1.87 -2.58,0.01 -5.06,-0.67 -7.44,-2.07 -2.37,-1.39 -4.87,-4.59 -7.48,-9.58l-9.54 -18.21 46.51 -24.36zm-38.06 27.78l6.45 12.3c1.74,3.33 3.72,5.46 5.94,6.4 2.23,0.97 4.69,0.73 7.4,-0.68 1.93,-1.02 3.29,-2.34 4.08,-3.98 0.79,-1.61 0.95,-3.39 0.49,-5.3 -0.47,-1.91 -1.76,-4.92 -3.9,-9l-4.3 -8.21 -16.16 8.47zm14.08 39.61l46.52 -24.36 17.6 33.63 -5.49 2.87 -14.38 -27.47 -14.24 7.46 13.47 25.72 -5.46 2.87 -13.48 -25.74 -15.82 8.29 14.95 28.56 -5.49 2.87 -18.18 -34.7zm33.97 32.9l4.6 5.08c-2.03,1.63 -3.67,3.99 -4.92,7.11 -1.25,3.12 -1.04,6.28 0.63,9.48 1.7,3.25 3.88,5.39 6.54,6.38 2.66,1.02 5.17,0.91 7.54,-0.34 2.56,-1.33 4.06,-3.4 4.55,-6.17 0.48,-2.79 -0.19,-5.89 -1.98,-9.32l-1.54 -2.95 5.36 -2.8c1.48,2.83 2.77,4.9 3.88,6.25 1.12,1.33 2.64,2.22 4.61,2.66 1.94,0.45 3.77,0.22 5.47,-0.67 2.03,-1.07 3.39,-2.76 4.07,-5.14 0.68,-2.35 0.31,-4.89 -1.09,-7.56 -1.24,-2.36 -2.87,-4.05 -4.91,-5.1 -2.05,-1.04 -4.2,-1.38 -6.47,-0.99 -2.27,0.37 -3.88,0.81 -4.83,1.32l-1.76 -6.61c10.65,-3.72 18.44,-0.84 23.39,8.61 2.38,4.55 3,8.81 1.88,12.81 -1.13,3.98 -3.39,6.86 -6.78,8.64 -4.33,2.27 -8.78,1.98 -13.31,-0.88 0.58,2.71 0.29,5.39 -0.9,8.06 -1.19,2.65 -3.19,4.71 -5.99,6.19 -4.01,2.1 -8.16,2.3 -12.48,0.61 -4.32,-1.69 -7.82,-5.09 -10.5,-10.22 -4.61,-8.8 -2.96,-16.94 4.94,-24.45zm55.57 24.92l19.16 36.57 -46.51 24.36 -3.25 -6.2 41.03 -21.47 -12.69 -24.24 -41.03 21.48 -3.22 -6.15 46.51 -24.35zm-21.74 71.66l46.52 -24.36 17.61 33.63 -5.49 2.88 -14.39 -27.49 -14.23 7.47 13.47 25.72 -5.46 2.86 -13.48 -25.72 -15.83 8.29 14.95 28.55 -5.48 2.88 -18.19 -34.71zm69.48 19.49l3.22 6.15 -20.37 10.67c1.48,2.82 3.05,4.51 4.74,5.08 1.69,0.56 5.07,0.66 10.15,0.26 3.71,-0.3 6.42,-0.36 8.12,-0.18 1.7,0.17 3.38,0.81 5.04,1.9 1.67,1.09 2.99,2.57 3.97,4.44 1.24,2.37 1.87,3.63 1.9,3.77l-5.33 2.79c-0.12,-0.21 -0.32,-0.62 -0.62,-1.26 -0.33,-0.68 -0.53,-1.09 -0.62,-1.25 -1.03,-1.97 -2.27,-3.16 -3.72,-3.63 -1.46,-0.47 -4.08,-0.52 -7.84,-0.14 -4.75,0.51 -7.92,0.48 -9.51,-0.07 -1.59,-0.54 -3.09,-1.4 -4.49,-2.58 0.76,3.44 -0.47,7.85 -3.65,13.24l-10.47 17.69 -4.01 -7.64 8.56 -14.4c2.37,-3.95 3.82,-7 4.38,-9.12 0.55,-2.12 0.22,-4.33 -0.97,-6.61l-21.77 11.4 -3.22 -6.15 46.51 -24.36zm-29.13 57.54l55.86 -6.49 3.47 6.63 -36.54 43.39 -3.67 -7.02 11.24 -12.8 -10.18 -19.45 -16.76 2.28 -3.42 -6.54zm26.12 3.41l8.26 15.78 10.34 -11.6c3.13,-3.52 5.77,-6.31 7.92,-8.34 -3.3,0.96 -6.69,1.67 -10.21,2.13l-16.31 2.03z"/>
                            <path fill="#393185" d="M715.73 744.1l15.22 -30.47 5.54 2.78 -12.11 24.25 14.48 7.22 5.6 -11.21c2.07,-4.14 4.1,-7.24 6.13,-9.29 2,-2.04 4.47,-3.27 7.39,-3.64 2.93,-0.39 5.85,0.14 8.76,1.6 2.37,1.18 4.31,2.82 5.86,4.9 1.51,2.08 2.42,4.51 2.67,7.26 0.26,2.73 -0.86,6.63 -3.38,11.66l-9.19 18.4 -46.97 -23.46zm44.8 14.6l6.2 -12.42c1.68,-3.36 2.24,-6.22 1.71,-8.57 -0.52,-2.37 -2.15,-4.23 -4.89,-5.59 -1.95,-0.97 -3.82,-1.31 -5.6,-1 -1.77,0.31 -3.31,1.23 -4.59,2.71 -1.28,1.51 -2.96,4.31 -5.02,8.44l-4.13 8.28 16.32 8.15zm24.34 -35.53l-46.97 -23.45 3.1 -6.22 46.97 23.46 -3.1 6.21zm-5.7 -21.78l1.41 -6.69c2.52,0.69 5.4,0.63 8.66,-0.19 3.27,-0.81 5.71,-2.82 7.32,-6.05 1.63,-3.28 2.09,-6.31 1.34,-9.04 -0.73,-2.75 -2.29,-4.72 -4.68,-5.91 -2.59,-1.29 -5.14,-1.31 -7.68,-0.07 -2.53,1.23 -4.66,3.6 -6.39,7.05l-1.49 2.98 -5.42 -2.7c1.44,-2.87 2.37,-5.13 2.8,-6.82 0.43,-1.68 0.25,-3.43 -0.53,-5.29 -0.78,-1.84 -2.03,-3.19 -3.76,-4.05 -2.05,-1.01 -4.22,-1.12 -6.54,-0.28 -2.31,0.83 -4.14,2.6 -5.49,5.31 -1.19,2.38 -1.61,4.69 -1.26,6.96 0.35,2.28 1.34,4.22 2.98,5.82 1.63,1.63 2.93,2.68 3.89,3.15l-4.33 5.3c-9.23,-6.46 -11.47,-14.47 -6.7,-24.01 2.29,-4.59 5.38,-7.58 9.29,-9.02 3.88,-1.41 7.55,-1.27 10.97,0.44 4.37,2.19 6.74,5.96 7.07,11.3 1.87,-2.05 4.21,-3.38 7.07,-3.98 2.84,-0.58 5.69,-0.17 8.52,1.23 4.04,2.03 6.64,5.27 7.8,9.77 1.16,4.48 0.44,9.31 -2.14,14.48 -4.43,8.89 -11.99,12.33 -22.71,10.31zm34.7 -36.3l-46.97 -23.45 3.1 -6.23 19.29 9.63 12.2 -24.41 -19.3 -9.63 3.11 -6.22 46.97 23.45 -3.1 6.22 -22.14 -11.04 -12.19 24.4 22.14 11.06 -3.11 6.22zm23.91 -47.89l-46.98 -23.44 16.96 -33.96 5.54 2.76 -13.85 27.75 14.38 7.18 12.97 -25.98 5.52 2.74 -12.98 25.99 15.99 7.98 14.4 -28.83 5.55 2.77 -17.5 35.04zm22.32 -85.91l4.68 -5.44c4.45,3.85 7.16,8.15 8.17,12.87 0.99,4.72 0.26,9.52 -2.19,14.43 -2.53,5.06 -5.61,8.66 -9.25,10.81 -3.65,2.13 -7.85,3.06 -12.57,2.76 -4.74,-0.3 -9.36,-1.57 -13.84,-3.81 -4.89,-2.44 -8.69,-5.5 -11.4,-9.18 -2.71,-3.7 -4.15,-7.74 -4.31,-12.14 -0.18,-4.39 0.78,-8.65 2.84,-12.79 2.36,-4.71 5.52,-8.06 9.52,-10.08 3.99,-1.99 8.46,-2.55 13.43,-1.64l-1.61 6.83c-3.97,-0.61 -7.24,-0.27 -9.84,1.02 -2.59,1.29 -4.67,3.5 -6.24,6.65 -1.81,3.61 -2.44,7.04 -1.92,10.34 0.52,3.29 1.99,6.16 4.42,8.59 2.42,2.44 5.18,4.44 8.27,5.98 4.01,2 7.78,3.15 11.34,3.48 3.56,0.32 6.69,-0.37 9.4,-2.09 2.7,-1.73 4.76,-4.03 6.19,-6.89 1.74,-3.47 2.2,-6.92 1.41,-10.33 -0.81,-3.43 -2.98,-6.55 -6.5,-9.37zm-26.76 -22.73l3.14 -6.29 36.42 -0.95 -22.08 -27.76 3.08 -6.17 27.73 35.84c3.47,4.5 5.55,7.8 6.27,9.89 0.7,2.12 0.41,4.5 -0.91,7.13 -0.8,1.6 -2.16,3.38 -4.07,5.33l-5.31 -2.65c1.79,-1.19 3.15,-2.71 4.08,-4.57 0.76,-1.51 0.91,-3.07 0.49,-4.66 -0.42,-1.58 -2.02,-3.89 -4.82,-6.96l-44.02 1.82z"/>
                            <path fill="#393185" d="M926.78 185.56l55.7 -105.21 62.35 0c23.62,0 38.57,0.91 44.8,2.66 9.63,2.61 15.87,8.33 18.61,17.15 4.53,14.6 -9.45,45.07 -27.93,61.61 -38.74,34.65 -84.28,31.12 -118.22,30.03l-35.31 -6.24zm78.76 -74.15l-27.85 51.38c15.06,0.4 33.59,2.46 49.4,-1.64 11.61,-3.02 23.22,-15.07 29.75,-26.34 7.47,-12.92 1.94,-20.18 -9.24,-22.22 -4.26,-0.77 -9.31,-1.18 -23.28,-1.18l-18.78 0z"/>
                            <path fill="#393185" d="M134.81 81.47l152.82 0.74 15.84 33.17 -104.33 0 16.33 34.01 31.81 -0.74c29.36,-0.69 52.93,1.62 75.04,18.42 15.85,12.05 34.19,44.88 28.52,66.74 -5.76,22.23 -25.28,26.1 -43.96,26.1l-71.78 0 -100.29 -178.44zm117.74 144.54l19.88 0c24.45,0 38.56,-8.53 32.08,-23.1 -9.53,-21.38 -30.5,-22.28 -53.11,-21.46l-20.46 0.74 21.61 43.82z"/>
                            <path fill="#D6BC7A" d="M128.06 99.5l159.57 0.66 15.84 30.26 -104.33 0 16.33 31.01 31.81 -0.68c29.36,-0.63 52.93,1.48 75.04,16.79 15.85,10.99 34.18,40.93 28.52,60.86 -5.76,20.26 -25.28,23.79 -43.96,23.79l-74.19 0 -104.63 -162.69zm124.49 131.77l19.88 0c24.45,0 38.56,-7.75 32.08,-21.04 -9.53,-19.49 -30.5,-20.32 -53.11,-19.58l-20.46 0.68 21.61 39.94zm280.32 30.92l-39.98 0 -17.97 -30.53 -58.23 0 -2.02 30.53 -40.97 0 6.71 -163.71 59.65 0 92.81 163.71zm-70.95 -58.6l-37.67 -61.4 -6.46 61.4 44.13 0zm94.3 58.6l-17.36 -163.71 79.71 0c23.62,0 39.04,0.88 46.2,2.49 24.76,5.53 40.02,17.77 39.28,47.86 -0.61,25.03 -17.4,47.03 -43.31,51.63 -21.17,3.75 -44.11,2.35 -65.66,2.35l0 59.38 -38.86 0zm38.86 -135.32l0 47.44 21.25 0c15.32,0 25.59,-0.84 30.74,-2.55 9.86,-3.28 16.54,-12.46 16.54,-22.47 0,-12.08 -9.51,-19.42 -21.78,-21.32 -4.67,-0.72 -13.99,-1.1 -27.97,-1.1l-18.78 0zm257.71 38.4l-14.22 28.1 -62.26 0c-9.18,19.62 -1,43.61 28.57,42.42 23.99,-0.97 37.75,-12.01 49.14,-32.81l40.51 -0.35c-20.77,33.61 -58.46,63.01 -100.49,63.01 -31.7,0 -57.61,-8.8 -60.05,-46.53 -2.39,-36.97 18.58,-78.26 47.81,-102.05 33.75,-27.48 105.01,-30.9 128.93,-8.62 10.22,9.5 11.98,24.86 8.26,44.14l-42.92 -0.11c0.91,-17.57 -4.86,-27.78 -26.41,-28.27 -31.07,-0.72 -49.09,16.75 -61.55,41.07l64.68 0zm-118.1 -63.48l-7.19 34.27 47.09 -34.99 -39.9 0.72zm153.31 159.41l94.49 -162.72 62.34 0c23.62,0 38.57,0.82 44.8,2.42 9.63,2.38 15.87,7.6 18.61,15.65 4.53,13.3 -9.45,41.09 -27.94,56.16 -38.73,31.6 -84.27,28.38 -118.21,27.39l-35.23 61.1 -38.86 0zm117.54 -134.41l-27.85 46.86c15.06,0.35 33.59,2.23 49.4,-1.51 11.61,-2.76 23.22,-13.73 29.75,-24 7.47,-11.79 1.94,-18.4 -9.24,-20.27 -4.25,-0.69 -9.31,-1.08 -23.28,-1.08l-18.78 0z"/>
                            <path fill="#393185" d="M134.81 81.47l152.82 0.74 15.84 33.17 -104.33 0 16.33 34.01 31.81 -0.74c29.36,-0.69 52.93,1.62 75.04,18.42 15.85,12.05 34.19,44.88 28.52,66.74 -5.76,22.23 -25.28,26.1 -43.96,26.1l-71.78 0 -100.29 -178.44zm117.74 144.54l19.88 0c24.45,0 38.56,-8.53 32.08,-23.1 -9.53,-21.38 -30.5,-22.28 -53.11,-21.46l-20.46 0.74 21.61 43.82z"/>
                            <path fill="#393185" d="M532.87 259.91l-39.98 0 -17.97 -33.5 -58.23 0 -2.02 33.5 -40.97 0 15.85 -179.56 50.51 0 92.81 179.56zm-70.95 -64.27l-37.67 -67.34 -6.46 67.34 44.13 0z"/>
                            <path fill="#393185" d="M556.22 259.91l-5.93 -179.56 68.28 0c23.62,0 39.04,0.96 46.2,2.72 24.77,6.08 40.02,19.51 39.28,52.51 -0.61,27.45 -17.4,51.58 -43.31,56.62 -21.17,4.12 -44.11,2.59 -65.66,2.59l0 65.12 -38.86 0zm38.86 -148.42l0 52.04 21.25 0c15.32,0 25.59,-0.92 30.74,-2.81 9.86,-3.59 16.54,-13.66 16.54,-24.64 0,-13.24 -9.51,-21.3 -21.78,-23.37 -4.67,-0.81 -13.99,-1.22 -27.97,-1.22l-18.78 0z"/>
                            <path fill="#393185" d="M852.79 153.61l-14.22 30.81 -62.26 0c-9.18,21.53 -1,47.84 28.57,46.53 23.99,-1.06 37.75,-13.17 49.14,-35.99l40.51 -0.38c-20.77,36.86 -58.46,69.1 -100.49,69.1 -31.7,0 -57.61,-9.64 -60.05,-51.03 -2.39,-40.55 18.58,-85.83 47.81,-111.92 33.75,-30.14 105.01,-33.89 128.93,-9.47 10.22,10.43 11.98,27.28 8.26,48.42l-42.92 -0.12c0.91,-19.26 -4.86,-30.47 -26.41,-31 -31.07,-0.78 -49.09,18.38 -61.55,45.05l64.68 0z"/>
                            <polygon fill="#393185" points="734.69,83.98 727.5,121.58 774.59,83.19 "/>
                            <path fill="#393185" d="M888 258.81l94.48 -178.46 62.35 0c23.62,0 38.57,0.91 44.8,2.66 9.63,2.61 15.87,8.33 18.61,17.15 4.53,14.6 -9.45,45.07 -27.93,61.61 -38.74,34.65 -84.28,31.12 -118.22,30.03l-35.23 67.01 -38.86 0zm117.54 -147.4l-27.85 51.38c15.06,0.4 33.59,2.46 49.4,-1.64 11.61,-3.02 23.22,-15.07 29.75,-26.34 7.47,-12.92 1.94,-20.18 -9.24,-22.22 -4.26,-0.77 -9.31,-1.18 -23.28,-1.18l-18.78 0z"/>
                            <path fill="#393185" d="M64.11 37.25l1126.82 0 -570.95 1086.25 -555.87 -1086.25zm31.78 15.39l1063.26 0 -539.22 1027.41 -524.04 -1027.41z"/>
                            </g>
                        </g>
                </svg>
            </a>
            <div class="header-main-menu_navi">
                <a class="header-main-menu_navi-text " href="/index.html">
                    <div></div>
                    <p class="header-main-menu_navi-text_link header-main-menu_navi-text_border">головна</p>
                    <div class="header-main-menu_navi-text_border-bottom"></div>
                </a>
                <a class="header-main-menu_navi-text " href="/about.html">
                    <div></div>
                    <p class="header-main-menu_navi-text_link header-main-menu_navi-text_border">про нас</p>
                    <div class="header-main-menu_navi-text_border-bottom"></div>
                </a>
                <a class="header-main-menu_navi-text " href="/ourServices.html">
                    <div></div>
                    <p class="header-main-menu_navi-text_link header-main-menu_navi-text_border">послуги</p>
                    <div class="header-main-menu_navi-text_border-bottom"></div>
                </a>
                <a class="header-main-menu_navi-text" href="/contacts.html">
                    <div></div>
                    <p class="header-main-menu_navi-text_link">контакти</p>
                    <div class="header-main-menu_navi-text_border-bottom"></div>
                </a>
            </div>
            <div class="header-main-menu_navi-tel_block">
                <div>
                    <svg class="footer-centre-tel_block-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.5" clip-path="url(#clip0_167_969)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.13333 18.3H15.5333V6.2H9.13333V18.3ZM7 20.5V4H17.6667V20.5H7ZM11.3116 16.1H13.445V13.9H11.3116V16.1Z" fill="white"/>
                            <path d="M22 9V2.2H19V0H24V9H22Z" fill="white"/>
                            <path d="M2 15V21.8H5V24H0V15H2Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_167_969">
                                <rect width="24" height="24" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="header-main-menu_navi-tel_num_block">
                    <p class="header-main-menu_navi-tel">
                        +38 067 300 62 62
                    </p>
                    <div class="header-main-menu_navi-tel_line">
                    </div>
                </div>
                <div>
                    <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 6.5L0.669873 0.499999L9.33013 0.5L5 6.5Z" fill="white"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="header-main-menu_bottom_line">
        </div>
</div>
<div class="wrapper header-burger">
        <div>
            <svg class="header-main-logo" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                 width="1146px"
                 height="1106px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                 viewBox="0 0 1237.93 1194.17">
                     <defs>
                        <linearGradient id="id0" gradientUnits="userSpaceOnUse" x1="-128.23" y1="314.6" x2="1080.18" y2="754.43">
                         <stop offset="0" stop-opacity="1" stop-color="#FFFCE4"/>
                            <stop offset="1" stop-opacity="1" stop-color="#FEFEFE"/>
                        </linearGradient>
                         <linearGradient id="id1" gradientUnits="userSpaceOnUse" x1="146.24" y1="1512.49" x2="1133.14" y2="1031.15">
                         <stop offset="0" stop-opacity="1" stop-color="#DDCA00"/>
                             <stop offset="0.490196" stop-opacity="1" stop-color="#E5C800"/>
                             <stop offset="0.541176" stop-opacity="1" stop-color="#EFD400"/>
                             <stop offset="0.588235" stop-opacity="1" stop-color="#FFED00"/>
                             <stop offset="1" stop-opacity="1" stop-color="#FFED00"/>
                        </linearGradient>
                     </defs>
                <g id="Слой_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"/>
                    <g id="_2035487556368">
                               <polygon fill="#FFFCE4" points="303.16,271.32 933.55,271.32 619.33,891.28 "/>
                        <polygon fill="#00A0E3" points="619.37,866.26 619.4,1192.39 1237.13,0.49 916.26,282.4 "/>
                        <polygon fill="url(#id0)" points="0.8,0.49 321.67,282.4 916.1,282.8 1237.13,0.49 "/>
                        <polygon fill="url(#id1)" points="619.43,1192.29 619.47,866.12 322.09,282.8 1.06,0.49 "/>
                        <polygon fill="none" stroke="#2B2A29" stroke-width="0.97" stroke-miterlimit="22.9256" points="0.8,0.49 1237.13,0.49 619.87,1193.11 "/>
                        <path fill="#393185" d="M619.77 789.95l-218.5 -440.58 435.39 0 -28.3 61.71 -315.55 0 27.2 58.19 260.16 0 -160.4 320.68zm-0.44 -121.43l-73.95 -143.49 147.91 0 -73.96 143.49z"/>
                        <path fill="#393185" d="M389.41 448.26l15.8 30.17 -5.49 2.87 -12.57 -24 -14.34 7.51 5.81 11.1c2.15,4.09 3.47,7.56 3.94,10.4 0.49,2.82 0.04,5.54 -1.37,8.13 -1.39,2.6 -3.54,4.65 -6.41,6.17 -2.35,1.22 -4.82,1.84 -7.42,1.87 -2.58,0.01 -5.06,-0.67 -7.44,-2.07 -2.37,-1.39 -4.87,-4.59 -7.48,-9.58l-9.54 -18.21 46.51 -24.36zm-38.06 27.78l6.45 12.3c1.74,3.33 3.72,5.46 5.94,6.4 2.23,0.97 4.69,0.73 7.4,-0.68 1.93,-1.02 3.29,-2.34 4.08,-3.98 0.79,-1.61 0.95,-3.39 0.49,-5.3 -0.47,-1.91 -1.76,-4.92 -3.9,-9l-4.3 -8.21 -16.16 8.47zm14.08 39.61l46.52 -24.36 17.6 33.63 -5.49 2.87 -14.38 -27.47 -14.24 7.46 13.47 25.72 -5.46 2.87 -13.48 -25.74 -15.82 8.29 14.95 28.56 -5.49 2.87 -18.18 -34.7zm33.97 32.9l4.6 5.08c-2.03,1.63 -3.67,3.99 -4.92,7.11 -1.25,3.12 -1.04,6.28 0.63,9.48 1.7,3.25 3.88,5.39 6.54,6.38 2.66,1.02 5.17,0.91 7.54,-0.34 2.56,-1.33 4.06,-3.4 4.55,-6.17 0.48,-2.79 -0.19,-5.89 -1.98,-9.32l-1.54 -2.95 5.36 -2.8c1.48,2.83 2.77,4.9 3.88,6.25 1.12,1.33 2.64,2.22 4.61,2.66 1.94,0.45 3.77,0.22 5.47,-0.67 2.03,-1.07 3.39,-2.76 4.07,-5.14 0.68,-2.35 0.31,-4.89 -1.09,-7.56 -1.24,-2.36 -2.87,-4.05 -4.91,-5.1 -2.05,-1.04 -4.2,-1.38 -6.47,-0.99 -2.27,0.37 -3.88,0.81 -4.83,1.32l-1.76 -6.61c10.65,-3.72 18.44,-0.84 23.39,8.61 2.38,4.55 3,8.81 1.88,12.81 -1.13,3.98 -3.39,6.86 -6.78,8.64 -4.33,2.27 -8.78,1.98 -13.31,-0.88 0.58,2.71 0.29,5.39 -0.9,8.06 -1.19,2.65 -3.19,4.71 -5.99,6.19 -4.01,2.1 -8.16,2.3 -12.48,0.61 -4.32,-1.69 -7.82,-5.09 -10.5,-10.22 -4.61,-8.8 -2.96,-16.94 4.94,-24.45zm55.57 24.92l19.16 36.57 -46.51 24.36 -3.25 -6.2 41.03 -21.47 -12.69 -24.24 -41.03 21.48 -3.22 -6.15 46.51 -24.35zm-21.74 71.66l46.52 -24.36 17.61 33.63 -5.49 2.88 -14.39 -27.49 -14.23 7.47 13.47 25.72 -5.46 2.86 -13.48 -25.72 -15.83 8.29 14.95 28.55 -5.48 2.88 -18.19 -34.71zm69.48 19.49l3.22 6.15 -20.37 10.67c1.48,2.82 3.05,4.51 4.74,5.08 1.69,0.56 5.07,0.66 10.15,0.26 3.71,-0.3 6.42,-0.36 8.12,-0.18 1.7,0.17 3.38,0.81 5.04,1.9 1.67,1.09 2.99,2.57 3.97,4.44 1.24,2.37 1.87,3.63 1.9,3.77l-5.33 2.79c-0.12,-0.21 -0.32,-0.62 -0.62,-1.26 -0.33,-0.68 -0.53,-1.09 -0.62,-1.25 -1.03,-1.97 -2.27,-3.16 -3.72,-3.63 -1.46,-0.47 -4.08,-0.52 -7.84,-0.14 -4.75,0.51 -7.92,0.48 -9.51,-0.07 -1.59,-0.54 -3.09,-1.4 -4.49,-2.58 0.76,3.44 -0.47,7.85 -3.65,13.24l-10.47 17.69 -4.01 -7.64 8.56 -14.4c2.37,-3.95 3.82,-7 4.38,-9.12 0.55,-2.12 0.22,-4.33 -0.97,-6.61l-21.77 11.4 -3.22 -6.15 46.51 -24.36zm-29.13 57.54l55.86 -6.49 3.47 6.63 -36.54 43.39 -3.67 -7.02 11.24 -12.8 -10.18 -19.45 -16.76 2.28 -3.42 -6.54zm26.12 3.41l8.26 15.78 10.34 -11.6c3.13,-3.52 5.77,-6.31 7.92,-8.34 -3.3,0.96 -6.69,1.67 -10.21,2.13l-16.31 2.03z"/>
                        <path fill="#393185" d="M715.73 744.1l15.22 -30.47 5.54 2.78 -12.11 24.25 14.48 7.22 5.6 -11.21c2.07,-4.14 4.1,-7.24 6.13,-9.29 2,-2.04 4.47,-3.27 7.39,-3.64 2.93,-0.39 5.85,0.14 8.76,1.6 2.37,1.18 4.31,2.82 5.86,4.9 1.51,2.08 2.42,4.51 2.67,7.26 0.26,2.73 -0.86,6.63 -3.38,11.66l-9.19 18.4 -46.97 -23.46zm44.8 14.6l6.2 -12.42c1.68,-3.36 2.24,-6.22 1.71,-8.57 -0.52,-2.37 -2.15,-4.23 -4.89,-5.59 -1.95,-0.97 -3.82,-1.31 -5.6,-1 -1.77,0.31 -3.31,1.23 -4.59,2.71 -1.28,1.51 -2.96,4.31 -5.02,8.44l-4.13 8.28 16.32 8.15zm24.34 -35.53l-46.97 -23.45 3.1 -6.22 46.97 23.46 -3.1 6.21zm-5.7 -21.78l1.41 -6.69c2.52,0.69 5.4,0.63 8.66,-0.19 3.27,-0.81 5.71,-2.82 7.32,-6.05 1.63,-3.28 2.09,-6.31 1.34,-9.04 -0.73,-2.75 -2.29,-4.72 -4.68,-5.91 -2.59,-1.29 -5.14,-1.31 -7.68,-0.07 -2.53,1.23 -4.66,3.6 -6.39,7.05l-1.49 2.98 -5.42 -2.7c1.44,-2.87 2.37,-5.13 2.8,-6.82 0.43,-1.68 0.25,-3.43 -0.53,-5.29 -0.78,-1.84 -2.03,-3.19 -3.76,-4.05 -2.05,-1.01 -4.22,-1.12 -6.54,-0.28 -2.31,0.83 -4.14,2.6 -5.49,5.31 -1.19,2.38 -1.61,4.69 -1.26,6.96 0.35,2.28 1.34,4.22 2.98,5.82 1.63,1.63 2.93,2.68 3.89,3.15l-4.33 5.3c-9.23,-6.46 -11.47,-14.47 -6.7,-24.01 2.29,-4.59 5.38,-7.58 9.29,-9.02 3.88,-1.41 7.55,-1.27 10.97,0.44 4.37,2.19 6.74,5.96 7.07,11.3 1.87,-2.05 4.21,-3.38 7.07,-3.98 2.84,-0.58 5.69,-0.17 8.52,1.23 4.04,2.03 6.64,5.27 7.8,9.77 1.16,4.48 0.44,9.31 -2.14,14.48 -4.43,8.89 -11.99,12.33 -22.71,10.31zm34.7 -36.3l-46.97 -23.45 3.1 -6.23 19.29 9.63 12.2 -24.41 -19.3 -9.63 3.11 -6.22 46.97 23.45 -3.1 6.22 -22.14 -11.04 -12.19 24.4 22.14 11.06 -3.11 6.22zm23.91 -47.89l-46.98 -23.44 16.96 -33.96 5.54 2.76 -13.85 27.75 14.38 7.18 12.97 -25.98 5.52 2.74 -12.98 25.99 15.99 7.98 14.4 -28.83 5.55 2.77 -17.5 35.04zm22.32 -85.91l4.68 -5.44c4.45,3.85 7.16,8.15 8.17,12.87 0.99,4.72 0.26,9.52 -2.19,14.43 -2.53,5.06 -5.61,8.66 -9.25,10.81 -3.65,2.13 -7.85,3.06 -12.57,2.76 -4.74,-0.3 -9.36,-1.57 -13.84,-3.81 -4.89,-2.44 -8.69,-5.5 -11.4,-9.18 -2.71,-3.7 -4.15,-7.74 -4.31,-12.14 -0.18,-4.39 0.78,-8.65 2.84,-12.79 2.36,-4.71 5.52,-8.06 9.52,-10.08 3.99,-1.99 8.46,-2.55 13.43,-1.64l-1.61 6.83c-3.97,-0.61 -7.24,-0.27 -9.84,1.02 -2.59,1.29 -4.67,3.5 -6.24,6.65 -1.81,3.61 -2.44,7.04 -1.92,10.34 0.52,3.29 1.99,6.16 4.42,8.59 2.42,2.44 5.18,4.44 8.27,5.98 4.01,2 7.78,3.15 11.34,3.48 3.56,0.32 6.69,-0.37 9.4,-2.09 2.7,-1.73 4.76,-4.03 6.19,-6.89 1.74,-3.47 2.2,-6.92 1.41,-10.33 -0.81,-3.43 -2.98,-6.55 -6.5,-9.37zm-26.76 -22.73l3.14 -6.29 36.42 -0.95 -22.08 -27.76 3.08 -6.17 27.73 35.84c3.47,4.5 5.55,7.8 6.27,9.89 0.7,2.12 0.41,4.5 -0.91,7.13 -0.8,1.6 -2.16,3.38 -4.07,5.33l-5.31 -2.65c1.79,-1.19 3.15,-2.71 4.08,-4.57 0.76,-1.51 0.91,-3.07 0.49,-4.66 -0.42,-1.58 -2.02,-3.89 -4.82,-6.96l-44.02 1.82z"/>
                        <path fill="#393185" d="M926.78 185.56l55.7 -105.21 62.35 0c23.62,0 38.57,0.91 44.8,2.66 9.63,2.61 15.87,8.33 18.61,17.15 4.53,14.6 -9.45,45.07 -27.93,61.61 -38.74,34.65 -84.28,31.12 -118.22,30.03l-35.31 -6.24zm78.76 -74.15l-27.85 51.38c15.06,0.4 33.59,2.46 49.4,-1.64 11.61,-3.02 23.22,-15.07 29.75,-26.34 7.47,-12.92 1.94,-20.18 -9.24,-22.22 -4.26,-0.77 -9.31,-1.18 -23.28,-1.18l-18.78 0z"/>
                        <path fill="#393185" d="M134.81 81.47l152.82 0.74 15.84 33.17 -104.33 0 16.33 34.01 31.81 -0.74c29.36,-0.69 52.93,1.62 75.04,18.42 15.85,12.05 34.19,44.88 28.52,66.74 -5.76,22.23 -25.28,26.1 -43.96,26.1l-71.78 0 -100.29 -178.44zm117.74 144.54l19.88 0c24.45,0 38.56,-8.53 32.08,-23.1 -9.53,-21.38 -30.5,-22.28 -53.11,-21.46l-20.46 0.74 21.61 43.82z"/>
                        <path fill="#D6BC7A" d="M128.06 99.5l159.57 0.66 15.84 30.26 -104.33 0 16.33 31.01 31.81 -0.68c29.36,-0.63 52.93,1.48 75.04,16.79 15.85,10.99 34.18,40.93 28.52,60.86 -5.76,20.26 -25.28,23.79 -43.96,23.79l-74.19 0 -104.63 -162.69zm124.49 131.77l19.88 0c24.45,0 38.56,-7.75 32.08,-21.04 -9.53,-19.49 -30.5,-20.32 -53.11,-19.58l-20.46 0.68 21.61 39.94zm280.32 30.92l-39.98 0 -17.97 -30.53 -58.23 0 -2.02 30.53 -40.97 0 6.71 -163.71 59.65 0 92.81 163.71zm-70.95 -58.6l-37.67 -61.4 -6.46 61.4 44.13 0zm94.3 58.6l-17.36 -163.71 79.71 0c23.62,0 39.04,0.88 46.2,2.49 24.76,5.53 40.02,17.77 39.28,47.86 -0.61,25.03 -17.4,47.03 -43.31,51.63 -21.17,3.75 -44.11,2.35 -65.66,2.35l0 59.38 -38.86 0zm38.86 -135.32l0 47.44 21.25 0c15.32,0 25.59,-0.84 30.74,-2.55 9.86,-3.28 16.54,-12.46 16.54,-22.47 0,-12.08 -9.51,-19.42 -21.78,-21.32 -4.67,-0.72 -13.99,-1.1 -27.97,-1.1l-18.78 0zm257.71 38.4l-14.22 28.1 -62.26 0c-9.18,19.62 -1,43.61 28.57,42.42 23.99,-0.97 37.75,-12.01 49.14,-32.81l40.51 -0.35c-20.77,33.61 -58.46,63.01 -100.49,63.01 -31.7,0 -57.61,-8.8 -60.05,-46.53 -2.39,-36.97 18.58,-78.26 47.81,-102.05 33.75,-27.48 105.01,-30.9 128.93,-8.62 10.22,9.5 11.98,24.86 8.26,44.14l-42.92 -0.11c0.91,-17.57 -4.86,-27.78 -26.41,-28.27 -31.07,-0.72 -49.09,16.75 -61.55,41.07l64.68 0zm-118.1 -63.48l-7.19 34.27 47.09 -34.99 -39.9 0.72zm153.31 159.41l94.49 -162.72 62.34 0c23.62,0 38.57,0.82 44.8,2.42 9.63,2.38 15.87,7.6 18.61,15.65 4.53,13.3 -9.45,41.09 -27.94,56.16 -38.73,31.6 -84.27,28.38 -118.21,27.39l-35.23 61.1 -38.86 0zm117.54 -134.41l-27.85 46.86c15.06,0.35 33.59,2.23 49.4,-1.51 11.61,-2.76 23.22,-13.73 29.75,-24 7.47,-11.79 1.94,-18.4 -9.24,-20.27 -4.25,-0.69 -9.31,-1.08 -23.28,-1.08l-18.78 0z"/>
                        <path fill="#393185" d="M134.81 81.47l152.82 0.74 15.84 33.17 -104.33 0 16.33 34.01 31.81 -0.74c29.36,-0.69 52.93,1.62 75.04,18.42 15.85,12.05 34.19,44.88 28.52,66.74 -5.76,22.23 -25.28,26.1 -43.96,26.1l-71.78 0 -100.29 -178.44zm117.74 144.54l19.88 0c24.45,0 38.56,-8.53 32.08,-23.1 -9.53,-21.38 -30.5,-22.28 -53.11,-21.46l-20.46 0.74 21.61 43.82z"/>
                        <path fill="#393185" d="M532.87 259.91l-39.98 0 -17.97 -33.5 -58.23 0 -2.02 33.5 -40.97 0 15.85 -179.56 50.51 0 92.81 179.56zm-70.95 -64.27l-37.67 -67.34 -6.46 67.34 44.13 0z"/>
                        <path fill="#393185" d="M556.22 259.91l-5.93 -179.56 68.28 0c23.62,0 39.04,0.96 46.2,2.72 24.77,6.08 40.02,19.51 39.28,52.51 -0.61,27.45 -17.4,51.58 -43.31,56.62 -21.17,4.12 -44.11,2.59 -65.66,2.59l0 65.12 -38.86 0zm38.86 -148.42l0 52.04 21.25 0c15.32,0 25.59,-0.92 30.74,-2.81 9.86,-3.59 16.54,-13.66 16.54,-24.64 0,-13.24 -9.51,-21.3 -21.78,-23.37 -4.67,-0.81 -13.99,-1.22 -27.97,-1.22l-18.78 0z"/>
                        <path fill="#393185" d="M852.79 153.61l-14.22 30.81 -62.26 0c-9.18,21.53 -1,47.84 28.57,46.53 23.99,-1.06 37.75,-13.17 49.14,-35.99l40.51 -0.38c-20.77,36.86 -58.46,69.1 -100.49,69.1 -31.7,0 -57.61,-9.64 -60.05,-51.03 -2.39,-40.55 18.58,-85.83 47.81,-111.92 33.75,-30.14 105.01,-33.89 128.93,-9.47 10.22,10.43 11.98,27.28 8.26,48.42l-42.92 -0.12c0.91,-19.26 -4.86,-30.47 -26.41,-31 -31.07,-0.78 -49.09,18.38 -61.55,45.05l64.68 0z"/>
                        <polygon fill="#393185" points="734.69,83.98 727.5,121.58 774.59,83.19 "/>
                        <path fill="#393185" d="M888 258.81l94.48 -178.46 62.35 0c23.62,0 38.57,0.91 44.8,2.66 9.63,2.61 15.87,8.33 18.61,17.15 4.53,14.6 -9.45,45.07 -27.93,61.61 -38.74,34.65 -84.28,31.12 -118.22,30.03l-35.23 67.01 -38.86 0zm117.54 -147.4l-27.85 51.38c15.06,0.4 33.59,2.46 49.4,-1.64 11.61,-3.02 23.22,-15.07 29.75,-26.34 7.47,-12.92 1.94,-20.18 -9.24,-22.22 -4.26,-0.77 -9.31,-1.18 -23.28,-1.18l-18.78 0z"/>
                        <path fill="#393185" d="M64.11 37.25l1126.82 0 -570.95 1086.25 -555.87 -1086.25zm31.78 15.39l1063.26 0 -539.22 1027.41 -524.04 -1027.41z"/>
                            </g>
                        </g>
                </svg>
        </div>
        <div class="header-burger_line-block" id="burger-menu-open">
            <div class="header-burger_line"></div>
            <div class="header-burger_line"></div>
            <div class="header-burger_line"></div>
        </div>
    </div>
<div class="header-burger_open" id="burger-menu">
    <div class="wrapper">
    <div class="header-burger_open_top">
        <svg class="header-main-logo" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
             width="1146px"
             height="1106px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
             viewBox="0 0 1237.93 1194.17">
                     <defs>
                        <linearGradient id="id0" gradientUnits="userSpaceOnUse" x1="-128.23" y1="314.6" x2="1080.18" y2="754.43">
                         <stop offset="0" stop-opacity="1" stop-color="#FFFCE4"/>
                            <stop offset="1" stop-opacity="1" stop-color="#FEFEFE"/>
                        </linearGradient>
                         <linearGradient id="id1" gradientUnits="userSpaceOnUse" x1="146.24" y1="1512.49" x2="1133.14" y2="1031.15">
                         <stop offset="0" stop-opacity="1" stop-color="#DDCA00"/>
                             <stop offset="0.490196" stop-opacity="1" stop-color="#E5C800"/>
                             <stop offset="0.541176" stop-opacity="1" stop-color="#EFD400"/>
                             <stop offset="0.588235" stop-opacity="1" stop-color="#FFED00"/>
                             <stop offset="1" stop-opacity="1" stop-color="#FFED00"/>
                        </linearGradient>
                     </defs>
            <g id="Слой_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"/>
                <g id="_2035487556368">
                               <polygon fill="#FFFCE4" points="303.16,271.32 933.55,271.32 619.33,891.28 "/>
                    <polygon fill="#00A0E3" points="619.37,866.26 619.4,1192.39 1237.13,0.49 916.26,282.4 "/>
                    <polygon fill="url(#id0)" points="0.8,0.49 321.67,282.4 916.1,282.8 1237.13,0.49 "/>
                    <polygon fill="url(#id1)" points="619.43,1192.29 619.47,866.12 322.09,282.8 1.06,0.49 "/>
                    <polygon fill="none" stroke="#2B2A29" stroke-width="0.97" stroke-miterlimit="22.9256" points="0.8,0.49 1237.13,0.49 619.87,1193.11 "/>
                    <path fill="#393185" d="M619.77 789.95l-218.5 -440.58 435.39 0 -28.3 61.71 -315.55 0 27.2 58.19 260.16 0 -160.4 320.68zm-0.44 -121.43l-73.95 -143.49 147.91 0 -73.96 143.49z"/>
                    <path fill="#393185" d="M389.41 448.26l15.8 30.17 -5.49 2.87 -12.57 -24 -14.34 7.51 5.81 11.1c2.15,4.09 3.47,7.56 3.94,10.4 0.49,2.82 0.04,5.54 -1.37,8.13 -1.39,2.6 -3.54,4.65 -6.41,6.17 -2.35,1.22 -4.82,1.84 -7.42,1.87 -2.58,0.01 -5.06,-0.67 -7.44,-2.07 -2.37,-1.39 -4.87,-4.59 -7.48,-9.58l-9.54 -18.21 46.51 -24.36zm-38.06 27.78l6.45 12.3c1.74,3.33 3.72,5.46 5.94,6.4 2.23,0.97 4.69,0.73 7.4,-0.68 1.93,-1.02 3.29,-2.34 4.08,-3.98 0.79,-1.61 0.95,-3.39 0.49,-5.3 -0.47,-1.91 -1.76,-4.92 -3.9,-9l-4.3 -8.21 -16.16 8.47zm14.08 39.61l46.52 -24.36 17.6 33.63 -5.49 2.87 -14.38 -27.47 -14.24 7.46 13.47 25.72 -5.46 2.87 -13.48 -25.74 -15.82 8.29 14.95 28.56 -5.49 2.87 -18.18 -34.7zm33.97 32.9l4.6 5.08c-2.03,1.63 -3.67,3.99 -4.92,7.11 -1.25,3.12 -1.04,6.28 0.63,9.48 1.7,3.25 3.88,5.39 6.54,6.38 2.66,1.02 5.17,0.91 7.54,-0.34 2.56,-1.33 4.06,-3.4 4.55,-6.17 0.48,-2.79 -0.19,-5.89 -1.98,-9.32l-1.54 -2.95 5.36 -2.8c1.48,2.83 2.77,4.9 3.88,6.25 1.12,1.33 2.64,2.22 4.61,2.66 1.94,0.45 3.77,0.22 5.47,-0.67 2.03,-1.07 3.39,-2.76 4.07,-5.14 0.68,-2.35 0.31,-4.89 -1.09,-7.56 -1.24,-2.36 -2.87,-4.05 -4.91,-5.1 -2.05,-1.04 -4.2,-1.38 -6.47,-0.99 -2.27,0.37 -3.88,0.81 -4.83,1.32l-1.76 -6.61c10.65,-3.72 18.44,-0.84 23.39,8.61 2.38,4.55 3,8.81 1.88,12.81 -1.13,3.98 -3.39,6.86 -6.78,8.64 -4.33,2.27 -8.78,1.98 -13.31,-0.88 0.58,2.71 0.29,5.39 -0.9,8.06 -1.19,2.65 -3.19,4.71 -5.99,6.19 -4.01,2.1 -8.16,2.3 -12.48,0.61 -4.32,-1.69 -7.82,-5.09 -10.5,-10.22 -4.61,-8.8 -2.96,-16.94 4.94,-24.45zm55.57 24.92l19.16 36.57 -46.51 24.36 -3.25 -6.2 41.03 -21.47 -12.69 -24.24 -41.03 21.48 -3.22 -6.15 46.51 -24.35zm-21.74 71.66l46.52 -24.36 17.61 33.63 -5.49 2.88 -14.39 -27.49 -14.23 7.47 13.47 25.72 -5.46 2.86 -13.48 -25.72 -15.83 8.29 14.95 28.55 -5.48 2.88 -18.19 -34.71zm69.48 19.49l3.22 6.15 -20.37 10.67c1.48,2.82 3.05,4.51 4.74,5.08 1.69,0.56 5.07,0.66 10.15,0.26 3.71,-0.3 6.42,-0.36 8.12,-0.18 1.7,0.17 3.38,0.81 5.04,1.9 1.67,1.09 2.99,2.57 3.97,4.44 1.24,2.37 1.87,3.63 1.9,3.77l-5.33 2.79c-0.12,-0.21 -0.32,-0.62 -0.62,-1.26 -0.33,-0.68 -0.53,-1.09 -0.62,-1.25 -1.03,-1.97 -2.27,-3.16 -3.72,-3.63 -1.46,-0.47 -4.08,-0.52 -7.84,-0.14 -4.75,0.51 -7.92,0.48 -9.51,-0.07 -1.59,-0.54 -3.09,-1.4 -4.49,-2.58 0.76,3.44 -0.47,7.85 -3.65,13.24l-10.47 17.69 -4.01 -7.64 8.56 -14.4c2.37,-3.95 3.82,-7 4.38,-9.12 0.55,-2.12 0.22,-4.33 -0.97,-6.61l-21.77 11.4 -3.22 -6.15 46.51 -24.36zm-29.13 57.54l55.86 -6.49 3.47 6.63 -36.54 43.39 -3.67 -7.02 11.24 -12.8 -10.18 -19.45 -16.76 2.28 -3.42 -6.54zm26.12 3.41l8.26 15.78 10.34 -11.6c3.13,-3.52 5.77,-6.31 7.92,-8.34 -3.3,0.96 -6.69,1.67 -10.21,2.13l-16.31 2.03z"/>
                    <path fill="#393185" d="M715.73 744.1l15.22 -30.47 5.54 2.78 -12.11 24.25 14.48 7.22 5.6 -11.21c2.07,-4.14 4.1,-7.24 6.13,-9.29 2,-2.04 4.47,-3.27 7.39,-3.64 2.93,-0.39 5.85,0.14 8.76,1.6 2.37,1.18 4.31,2.82 5.86,4.9 1.51,2.08 2.42,4.51 2.67,7.26 0.26,2.73 -0.86,6.63 -3.38,11.66l-9.19 18.4 -46.97 -23.46zm44.8 14.6l6.2 -12.42c1.68,-3.36 2.24,-6.22 1.71,-8.57 -0.52,-2.37 -2.15,-4.23 -4.89,-5.59 -1.95,-0.97 -3.82,-1.31 -5.6,-1 -1.77,0.31 -3.31,1.23 -4.59,2.71 -1.28,1.51 -2.96,4.31 -5.02,8.44l-4.13 8.28 16.32 8.15zm24.34 -35.53l-46.97 -23.45 3.1 -6.22 46.97 23.46 -3.1 6.21zm-5.7 -21.78l1.41 -6.69c2.52,0.69 5.4,0.63 8.66,-0.19 3.27,-0.81 5.71,-2.82 7.32,-6.05 1.63,-3.28 2.09,-6.31 1.34,-9.04 -0.73,-2.75 -2.29,-4.72 -4.68,-5.91 -2.59,-1.29 -5.14,-1.31 -7.68,-0.07 -2.53,1.23 -4.66,3.6 -6.39,7.05l-1.49 2.98 -5.42 -2.7c1.44,-2.87 2.37,-5.13 2.8,-6.82 0.43,-1.68 0.25,-3.43 -0.53,-5.29 -0.78,-1.84 -2.03,-3.19 -3.76,-4.05 -2.05,-1.01 -4.22,-1.12 -6.54,-0.28 -2.31,0.83 -4.14,2.6 -5.49,5.31 -1.19,2.38 -1.61,4.69 -1.26,6.96 0.35,2.28 1.34,4.22 2.98,5.82 1.63,1.63 2.93,2.68 3.89,3.15l-4.33 5.3c-9.23,-6.46 -11.47,-14.47 -6.7,-24.01 2.29,-4.59 5.38,-7.58 9.29,-9.02 3.88,-1.41 7.55,-1.27 10.97,0.44 4.37,2.19 6.74,5.96 7.07,11.3 1.87,-2.05 4.21,-3.38 7.07,-3.98 2.84,-0.58 5.69,-0.17 8.52,1.23 4.04,2.03 6.64,5.27 7.8,9.77 1.16,4.48 0.44,9.31 -2.14,14.48 -4.43,8.89 -11.99,12.33 -22.71,10.31zm34.7 -36.3l-46.97 -23.45 3.1 -6.23 19.29 9.63 12.2 -24.41 -19.3 -9.63 3.11 -6.22 46.97 23.45 -3.1 6.22 -22.14 -11.04 -12.19 24.4 22.14 11.06 -3.11 6.22zm23.91 -47.89l-46.98 -23.44 16.96 -33.96 5.54 2.76 -13.85 27.75 14.38 7.18 12.97 -25.98 5.52 2.74 -12.98 25.99 15.99 7.98 14.4 -28.83 5.55 2.77 -17.5 35.04zm22.32 -85.91l4.68 -5.44c4.45,3.85 7.16,8.15 8.17,12.87 0.99,4.72 0.26,9.52 -2.19,14.43 -2.53,5.06 -5.61,8.66 -9.25,10.81 -3.65,2.13 -7.85,3.06 -12.57,2.76 -4.74,-0.3 -9.36,-1.57 -13.84,-3.81 -4.89,-2.44 -8.69,-5.5 -11.4,-9.18 -2.71,-3.7 -4.15,-7.74 -4.31,-12.14 -0.18,-4.39 0.78,-8.65 2.84,-12.79 2.36,-4.71 5.52,-8.06 9.52,-10.08 3.99,-1.99 8.46,-2.55 13.43,-1.64l-1.61 6.83c-3.97,-0.61 -7.24,-0.27 -9.84,1.02 -2.59,1.29 -4.67,3.5 -6.24,6.65 -1.81,3.61 -2.44,7.04 -1.92,10.34 0.52,3.29 1.99,6.16 4.42,8.59 2.42,2.44 5.18,4.44 8.27,5.98 4.01,2 7.78,3.15 11.34,3.48 3.56,0.32 6.69,-0.37 9.4,-2.09 2.7,-1.73 4.76,-4.03 6.19,-6.89 1.74,-3.47 2.2,-6.92 1.41,-10.33 -0.81,-3.43 -2.98,-6.55 -6.5,-9.37zm-26.76 -22.73l3.14 -6.29 36.42 -0.95 -22.08 -27.76 3.08 -6.17 27.73 35.84c3.47,4.5 5.55,7.8 6.27,9.89 0.7,2.12 0.41,4.5 -0.91,7.13 -0.8,1.6 -2.16,3.38 -4.07,5.33l-5.31 -2.65c1.79,-1.19 3.15,-2.71 4.08,-4.57 0.76,-1.51 0.91,-3.07 0.49,-4.66 -0.42,-1.58 -2.02,-3.89 -4.82,-6.96l-44.02 1.82z"/>
                    <path fill="#393185" d="M926.78 185.56l55.7 -105.21 62.35 0c23.62,0 38.57,0.91 44.8,2.66 9.63,2.61 15.87,8.33 18.61,17.15 4.53,14.6 -9.45,45.07 -27.93,61.61 -38.74,34.65 -84.28,31.12 -118.22,30.03l-35.31 -6.24zm78.76 -74.15l-27.85 51.38c15.06,0.4 33.59,2.46 49.4,-1.64 11.61,-3.02 23.22,-15.07 29.75,-26.34 7.47,-12.92 1.94,-20.18 -9.24,-22.22 -4.26,-0.77 -9.31,-1.18 -23.28,-1.18l-18.78 0z"/>
                    <path fill="#393185" d="M134.81 81.47l152.82 0.74 15.84 33.17 -104.33 0 16.33 34.01 31.81 -0.74c29.36,-0.69 52.93,1.62 75.04,18.42 15.85,12.05 34.19,44.88 28.52,66.74 -5.76,22.23 -25.28,26.1 -43.96,26.1l-71.78 0 -100.29 -178.44zm117.74 144.54l19.88 0c24.45,0 38.56,-8.53 32.08,-23.1 -9.53,-21.38 -30.5,-22.28 -53.11,-21.46l-20.46 0.74 21.61 43.82z"/>
                    <path fill="#D6BC7A" d="M128.06 99.5l159.57 0.66 15.84 30.26 -104.33 0 16.33 31.01 31.81 -0.68c29.36,-0.63 52.93,1.48 75.04,16.79 15.85,10.99 34.18,40.93 28.52,60.86 -5.76,20.26 -25.28,23.79 -43.96,23.79l-74.19 0 -104.63 -162.69zm124.49 131.77l19.88 0c24.45,0 38.56,-7.75 32.08,-21.04 -9.53,-19.49 -30.5,-20.32 -53.11,-19.58l-20.46 0.68 21.61 39.94zm280.32 30.92l-39.98 0 -17.97 -30.53 -58.23 0 -2.02 30.53 -40.97 0 6.71 -163.71 59.65 0 92.81 163.71zm-70.95 -58.6l-37.67 -61.4 -6.46 61.4 44.13 0zm94.3 58.6l-17.36 -163.71 79.71 0c23.62,0 39.04,0.88 46.2,2.49 24.76,5.53 40.02,17.77 39.28,47.86 -0.61,25.03 -17.4,47.03 -43.31,51.63 -21.17,3.75 -44.11,2.35 -65.66,2.35l0 59.38 -38.86 0zm38.86 -135.32l0 47.44 21.25 0c15.32,0 25.59,-0.84 30.74,-2.55 9.86,-3.28 16.54,-12.46 16.54,-22.47 0,-12.08 -9.51,-19.42 -21.78,-21.32 -4.67,-0.72 -13.99,-1.1 -27.97,-1.1l-18.78 0zm257.71 38.4l-14.22 28.1 -62.26 0c-9.18,19.62 -1,43.61 28.57,42.42 23.99,-0.97 37.75,-12.01 49.14,-32.81l40.51 -0.35c-20.77,33.61 -58.46,63.01 -100.49,63.01 -31.7,0 -57.61,-8.8 -60.05,-46.53 -2.39,-36.97 18.58,-78.26 47.81,-102.05 33.75,-27.48 105.01,-30.9 128.93,-8.62 10.22,9.5 11.98,24.86 8.26,44.14l-42.92 -0.11c0.91,-17.57 -4.86,-27.78 -26.41,-28.27 -31.07,-0.72 -49.09,16.75 -61.55,41.07l64.68 0zm-118.1 -63.48l-7.19 34.27 47.09 -34.99 -39.9 0.72zm153.31 159.41l94.49 -162.72 62.34 0c23.62,0 38.57,0.82 44.8,2.42 9.63,2.38 15.87,7.6 18.61,15.65 4.53,13.3 -9.45,41.09 -27.94,56.16 -38.73,31.6 -84.27,28.38 -118.21,27.39l-35.23 61.1 -38.86 0zm117.54 -134.41l-27.85 46.86c15.06,0.35 33.59,2.23 49.4,-1.51 11.61,-2.76 23.22,-13.73 29.75,-24 7.47,-11.79 1.94,-18.4 -9.24,-20.27 -4.25,-0.69 -9.31,-1.08 -23.28,-1.08l-18.78 0z"/>
                    <path fill="#393185" d="M134.81 81.47l152.82 0.74 15.84 33.17 -104.33 0 16.33 34.01 31.81 -0.74c29.36,-0.69 52.93,1.62 75.04,18.42 15.85,12.05 34.19,44.88 28.52,66.74 -5.76,22.23 -25.28,26.1 -43.96,26.1l-71.78 0 -100.29 -178.44zm117.74 144.54l19.88 0c24.45,0 38.56,-8.53 32.08,-23.1 -9.53,-21.38 -30.5,-22.28 -53.11,-21.46l-20.46 0.74 21.61 43.82z"/>
                    <path fill="#393185" d="M532.87 259.91l-39.98 0 -17.97 -33.5 -58.23 0 -2.02 33.5 -40.97 0 15.85 -179.56 50.51 0 92.81 179.56zm-70.95 -64.27l-37.67 -67.34 -6.46 67.34 44.13 0z"/>
                    <path fill="#393185" d="M556.22 259.91l-5.93 -179.56 68.28 0c23.62,0 39.04,0.96 46.2,2.72 24.77,6.08 40.02,19.51 39.28,52.51 -0.61,27.45 -17.4,51.58 -43.31,56.62 -21.17,4.12 -44.11,2.59 -65.66,2.59l0 65.12 -38.86 0zm38.86 -148.42l0 52.04 21.25 0c15.32,0 25.59,-0.92 30.74,-2.81 9.86,-3.59 16.54,-13.66 16.54,-24.64 0,-13.24 -9.51,-21.3 -21.78,-23.37 -4.67,-0.81 -13.99,-1.22 -27.97,-1.22l-18.78 0z"/>
                    <path fill="#393185" d="M852.79 153.61l-14.22 30.81 -62.26 0c-9.18,21.53 -1,47.84 28.57,46.53 23.99,-1.06 37.75,-13.17 49.14,-35.99l40.51 -0.38c-20.77,36.86 -58.46,69.1 -100.49,69.1 -31.7,0 -57.61,-9.64 -60.05,-51.03 -2.39,-40.55 18.58,-85.83 47.81,-111.92 33.75,-30.14 105.01,-33.89 128.93,-9.47 10.22,10.43 11.98,27.28 8.26,48.42l-42.92 -0.12c0.91,-19.26 -4.86,-30.47 -26.41,-31 -31.07,-0.78 -49.09,18.38 -61.55,45.05l64.68 0z"/>
                    <polygon fill="#393185" points="734.69,83.98 727.5,121.58 774.59,83.19 "/>
                    <path fill="#393185" d="M888 258.81l94.48 -178.46 62.35 0c23.62,0 38.57,0.91 44.8,2.66 9.63,2.61 15.87,8.33 18.61,17.15 4.53,14.6 -9.45,45.07 -27.93,61.61 -38.74,34.65 -84.28,31.12 -118.22,30.03l-35.23 67.01 -38.86 0zm117.54 -147.4l-27.85 51.38c15.06,0.4 33.59,2.46 49.4,-1.64 11.61,-3.02 23.22,-15.07 29.75,-26.34 7.47,-12.92 1.94,-20.18 -9.24,-22.22 -4.26,-0.77 -9.31,-1.18 -23.28,-1.18l-18.78 0z"/>
                    <path fill="#393185" d="M64.11 37.25l1126.82 0 -570.95 1086.25 -555.87 -1086.25zm31.78 15.39l1063.26 0 -539.22 1027.41 -524.04 -1027.41z"/>
                            </g>
                        </g>
                </svg>
        <div class="header-burger_open_close-icon" id="burger-menu-close">
            <div class="header-burger_open_top_line1"></div>
            <div class="header-burger_open_top_line2"></div>
        </div>
    </div>
    <div class="header-burger_open-menu">
        <a class="header-burger_open-menu-link" href="/index.html">
            Головна
        </a>
        <a class="header-burger_open-menu-link" href="/about.html">
            Про нас
        </a>
        <a class="header-burger_open-menu-link" href="/ourServices.html">
            Послуги
        </a>
        <a class="header-burger_open-menu-link" href="/contacts.html">
            Контакти
        </a>
    </div>
    <div>
        <div class="header-burger_open-icon-block">
            <svg class="header-burger_open-icon" width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.373 1.77577C19.6293 2.07692 18.8368 2.27654 18.0105 2.37346C18.8605 1.905 19.5093 1.16885 19.8143 0.281538C19.0218 0.717692 18.1468 1.02577 17.2143 1.19769C16.4618 0.458077 15.3893 0 14.2193 0C11.9493 0 10.1218 1.70077 10.1218 3.78577C10.1218 4.08577 10.1493 4.37423 10.2168 4.64885C6.80805 4.49538 3.7918 2.98731 1.76555 0.69C1.4118 1.25654 1.2043 1.905 1.2043 2.60308C1.2043 3.91385 1.93555 5.07577 3.02555 5.74846C2.3668 5.73692 1.72055 5.56038 1.17305 5.28231C1.17305 5.29385 1.17305 5.30885 1.17305 5.32385C1.17305 7.16308 2.5943 8.69077 4.45805 9.04269C4.1243 9.12692 3.76055 9.16731 3.38305 9.16731C3.12055 9.16731 2.85555 9.15346 2.6068 9.10269C3.13805 10.6015 4.64555 11.7035 6.43805 11.7392C5.04305 12.7465 3.2718 13.3535 1.3543 13.3535C1.01805 13.3535 0.695547 13.3396 0.373047 13.3015C2.1893 14.3827 4.3418 15 6.66305 15C14.208 15 18.333 9.23077 18.333 4.23C18.333 4.06269 18.3268 3.90115 18.318 3.74077C19.1318 3.20769 19.8155 2.54192 20.373 1.77577Z" fill="#1A1A1D"/>
            </svg>
            <svg class="header-burger_open-icon" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.84555 6.25H0.373047V20H4.84555V6.25Z" fill="#1A1A1D"/>
                <path d="M17.028 6.41125C16.9805 6.39625 16.9355 6.38 16.8855 6.36625C16.8255 6.3525 16.7655 6.34125 16.7043 6.33125C16.4668 6.28375 16.2068 6.25 15.9018 6.25C13.2943 6.25 11.6405 8.14625 11.0955 8.87875V6.25H6.62305V20H11.0955V12.5C11.0955 12.5 14.4755 7.7925 15.9018 11.25C15.9018 14.3363 15.9018 20 15.9018 20H20.373V10.7212C20.373 8.64375 18.9493 6.9125 17.028 6.41125Z" fill="#1A1A1D"/>
                <path d="M2.56055 4.375C3.76867 4.375 4.74805 3.39562 4.74805 2.1875C4.74805 0.979377 3.76867 0 2.56055 0C1.35242 0 0.373047 0.979377 0.373047 2.1875C0.373047 3.39562 1.35242 4.375 2.56055 4.375Z" fill="#1A1A1D"/>
            </svg>
            <svg class="header-burger_open-icon" width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.62305 6.875V4.375C6.62305 3.685 7.18305 3.125 7.87305 3.125H9.12305V0H6.62305C4.5518 0 2.87305 1.67875 2.87305 3.75V6.875H0.373047V10H2.87305V20H6.62305V10H9.12305L10.373 6.875H6.62305Z" fill="#1A1A1D"/>
            </svg>
            <svg class="header-burger_open-icon" width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.523 2.44545C18.9805 1.39273 18.3918 1.19909 17.193 1.12545C15.9955 1.03682 12.9843 1 10.3755 1C7.7618 1 4.7493 1.03682 3.55305 1.12409C2.3568 1.19909 1.7668 1.39136 1.2193 2.44545C0.660547 3.49682 0.373047 5.30773 0.373047 8.49591C0.373047 8.49864 0.373047 8.5 0.373047 8.5C0.373047 8.50273 0.373047 8.50409 0.373047 8.50409V8.50682C0.373047 11.6814 0.660547 13.5059 1.2193 14.5464C1.7668 15.5991 2.35555 15.79 3.5518 15.8786C4.7493 15.955 7.7618 16 10.3755 16C12.9843 16 15.9955 15.955 17.1943 15.88C18.393 15.7914 18.9818 15.6005 19.5243 14.5477C20.088 13.5073 20.373 11.6827 20.373 8.50818C20.373 8.50818 20.373 8.50409 20.373 8.50136C20.373 8.50136 20.373 8.49864 20.373 8.49727C20.373 5.30773 20.088 3.49682 19.523 2.44545ZM7.87305 12.5909V4.40909L14.123 8.5L7.87305 12.5909Z" fill="#1A1A1D"/>
            </svg>
            <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.4143 5.41558C14.7123 5.40985 14.0649 5.03638 13.7085 4.43187C13.1059 3.53692 12.0978 3.00018 11.019 3H7.9808C6.8628 3.00921 5.82612 3.58629 5.22907 4.53144C4.86724 5.0866 4.24799 5.41963 3.58544 5.41563C2.73407 5.41754 1.91818 5.75679 1.31611 6.35869C0.714217 6.96077 0.374959 7.77669 0.373047 8.62802V15.7876C0.375131 16.639 0.714213 17.4549 1.31611 18.0569C1.91818 18.6588 2.73411 18.9979 3.58544 19H15.4143C16.2657 18.9979 17.0816 18.6588 17.6837 18.0569C18.2855 17.4549 18.6246 16.6389 18.6267 15.7876V8.62802C18.6248 7.77665 18.2856 6.96077 17.6837 6.35869C17.0816 5.7568 16.2657 5.41754 15.4143 5.41563L15.4143 5.41558ZM9.49984 15.825C8.46299 15.825 7.46847 15.4131 6.73526 14.6799C6.00204 13.9467 5.58999 12.9522 5.58999 11.9152C5.58999 10.8783 6.00203 9.88379 6.73526 9.15058C7.46847 8.41737 8.46299 8.00549 9.49984 8.00549C10.5367 8.00549 11.5312 8.41735 12.2644 9.15058C12.9976 9.88379 13.4097 10.8783 13.4097 11.9152C13.4099 12.9522 12.9982 13.9469 12.2648 14.6803C11.5316 15.4135 10.5369 15.8254 9.49984 15.825ZM15.1902 9.59928C15.0069 9.78254 14.7583 9.88555 14.4991 9.88555C14.2398 9.88555 13.9912 9.78254 13.808 9.59928C13.6247 9.41601 13.5219 9.16744 13.5219 8.90826C13.5219 8.64909 13.6247 8.40051 13.808 8.21725C13.9912 8.03382 14.2398 7.93098 14.4991 7.93098C14.7583 7.93098 15.0069 8.03382 15.1902 8.21725C15.3698 8.40243 15.4704 8.65014 15.4704 8.90826C15.4704 9.16622 15.3698 9.41411 15.1902 9.59928Z" fill="#1A1A1D"/>
            </svg>
        </div>
    </div>
</div>
</div>