<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="img/Logo%20BARYER%20small.svg" type="image/x-icon">
    <title>@@title</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>