<div class="promotion_background anim-items">
    <div class="wrapper promotion">
        <img class="promotion_img" src="img/ajax.png" alt="ajax">
        <div>
            <p class="promotion-title">Захист від вторгнення</p>
            <p class="promotion-text">3 місяці безкоштовної охорони при встановленні охоронної системи ajax </p>
            <button class="promotion-button">
                Детальніше
            </button>
        </div>
    </div>

</div>