<div class="pultPage_pay anim-items">
  <div class="wrapper">
    <p class="pultPage_pay_title">оплата послуг</p>
    <div class="pultPage_pay_data">
      <div>
        <p class="pultPage_pay_data_text pultPage_pay_data_text-title">
          Фізична особа-підприємець<br>
          Одажиу Катерина Іванівна
        </p>
        <p class="pultPage_pay_data_text">П/р UA273052990000026004010704599</p>
        <p class="pultPage_pay_data_text">РІВНЕНСЬКА ФІЛІЯ  ПАТ КБ "ПРИВАТБАНК"</p>
        <p class="pultPage_pay_data_text">МФО 333391</p>
        <p class="pultPage_pay_data_text">ДРФО 3098018863</p>
        <p class="pultPage_pay_data_text">ІПН 3098018863</p>
        <div class="pultPage_pay_data_button">
          <img class="pultPage_pay_data_button_img" src="/img/privat24.png">
          <a class="pultPage_pay_data_button_link">
            <p class="pultPage_pay_data_button_text">Оплатити</p>
            <div class="services-page_item_link_line"></div>
          </a>
        </div>
      </div>
      <div class="pultPage_pay_vert-line"></div>
      <div>
        <p class="pultPage_pay_data_text pultPage_pay_data_text-title">
          Фізична особа-підприємець<br>
          Новак Юрій Миколайович
        </p>
        <p class="pultPage_pay_data_text">П/р UA443052990000026003016803978</p>
        <p class="pultPage_pay_data_text">Банк ПАТ "ПРИВАТБАНК", м. Київ</p>
        <p class="pultPage_pay_data_text">МФО 305299</p>
        <p class="pultPage_pay_data_text">ДРФО 2824523036</p>
        <p class="pultPage_pay_data_text">ІПН 2824523036</p>
        <div class="pultPage_pay_data_button">
          <img class="pultPage_pay_data_button_img" src="/img/privat24.png">
          <a class="pultPage_pay_data_button_link">
            <p class="pultPage_pay_data_button_text">Оплатити</p>
            <div class="services-page_item_link_line"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
