<div class="services_wrapper anim-items">
<div class="wrapper services_item_block">
    <div>
        <p class="services_title_big">Наші послуги</p>
        <p class="services_title_text">Повне забезпечення вашого захисту з виїздом по місту від 5 до 10 хвилин</p>
    </div>
    <a class="services_item" href="/pult.html">
        <div class="services_item_insert">
            <p class="services_title_item">Пультова охорона</p>
            <p class="services_text_item">
                Комплекс заходів, направлений на захист об'єктів від протиправного проникнення, нападу, попередження потенційних виробничих аварій, пожеж, підтримки громадського порядку на підприємствах
            </p>
            <div class="services_link">
                <p class="services_link_text">Детальніше</p>
                <div class="services_link_line"></div>
            </div>
        </div>
    </a>
    <div class="services_item">
        <div class="services_item_insert">
            <p class="services_title_item">Фізична охорона</p>
            <p class="services_text_item">
                Комплекс заходів, направлений на захист об'єктів від протиправного проникнення, нападу, попередження потенційних виробничих аварій, пожеж, підтримки громадського порядку на підприємствах
            </p>
            <div class="services_link">
                <p class="services_link_text">Детальніше</p>
                <div class="services_link_line"></div>
            </div>
        </div>
    </div>
    <div class="services_item">
        <div class="services_item_insert">
        <p class="services_title_item">Технічна охорона</p>
        <p class="services_text_item">
            Комплекс заходів, направлений на захист об'єктів від протиправного проникнення, нападу, попередження потенційних виробничих аварій, пожеж, підтримки громадського порядку на підприємствах
        </p>
        <div class="services_link">
            <p class="services_link_text">Детальніше</p>
            <div class="services_link_line"></div>
        </div>
    </div>
    </div>
    <div class="services_item">
        <div class="services_item_insert">
        <p class="services_title_item">Захист інформації</p>
        <p class="services_text_item">
            Комплекс заходів, направлений на захист об'єктів від протиправного проникнення, нападу, попередження потенційних виробничих аварій, пожеж, підтримки громадського порядку на підприємствах
        </p>
        <div class="services_link">
            <p class="services_link_text">Детальніше</p>
            <div class="services_link_line"></div>
        </div>
    </div>
    </div>
    <div class="services_item_more">
        <svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.0804 3.43782e-05L36.9927 16.9797L22.0804 33.9593L17.5722 30L26.3725 19.9797L-3.49335e-06 19.9797L-2.44428e-06 13.9797L26.3725 13.9797L17.5722 3.95934L22.0804 3.43782e-05Z" fill="white"/>
        </svg>
        <p class="services_item_more_text">
            Дізнатись більше <br>
            про наявні послуги
        </p>
    </div>
</div>
</div>