<div class="wrapper selector anim-items selector_big">
  <p class="whyUs_title">
    Чому саме ми?
  </p>
  <div class="selector_text_block">
    <p class="selector_text">Досвід накопичений десятиліттями</p>
    <p class="selector_text selector_text_mg">Підтверджена репутація </p>
    <p class="selector_text">Зони <br> покриття</p>
  </div>
  <div class="selector_line">
    <div class="circle_selector circle_selector_act"></div>
    <div class="line_selector"></div>
    <div class="circle_selector circle_selector_act">

    </div>
    <div class="line_selector"></div>
    <div class="circle_selector circle_selector_act"></div>
  </div>
  <div class="selector_content">
    <div id="selector_imgs" class="selector_imgs_block">
      <img class="selector_img" src="img/why1.png" alt="1">
      <img class="selector_img" src="img/why3.png" alt="2">
      <img class="selector_img" src="img/why2.png" alt="3">
    </div>
    <div class="selector_content_text_block">
      <p class="selector_content_text">
        Група компаній "Бар'єр. Безпека бізнесу" має честь запропонувати Вам весь
        спектр охоронних послуг як особисті, так і бізнесу. Наша компанія здійснює свою
        діяльність з грудня 2005 року.
      </p>
      <p class="selector_content_text">
        За час роботи ми накопичили великий практичний досвід з організації охорони
        різноманітних об'єктів, заробили репутацію надійної і стабільної організації,
        що динамічно розвивається на ринку охороних послуг.
      </p>
      <p class="selector_content_text">
        На сьогоднійній день компанія працює майже у всіх регіонах України.
        Нашими клієнтами є компанії з агропромислового, фінансового та промислового
        секторів економіки, в тому числі й міжнародні компанії.
      </p>
      <form>
        <button class="selector_content_button" formaction="/about.html">Про нас</button>
      </form>
      <div class="selector_content_navi_block">
        <svg class="selector_arrow" id="selectLeft" width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.84644 18.5L0.976066 9.53848L8.84644 0.577L11.2258 2.66663L6.58116 7.95515L20.5 7.95515L20.5 11.1218L6.58116 11.1218L11.2258 16.4103L8.84644 18.5Z" fill="#1A1A1D"/>
        </svg>
        <p class="selector_content_navi_block_text" id="navi_block">1/3</p>
        <svg class="selector_arrow" id="selectRight" width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1536 0.500033L20.0239 9.46152L12.1536 18.423L9.77423 16.3334L14.4188 11.0449L0.499998 11.0449L0.499999 7.87818L14.4188 7.87818L9.77423 2.58967L12.1536 0.500033Z" fill="#1A1A1D"/>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="wrapper selector anim-items selector_mobile">
  <p class="whyUs_title">
    Чому саме ми?
  </p>
  <div>
    <img class="selector_img_mobile" src="img/why1.png" alt="1">
    <img class="selector_img_mobile" src="img/why3.png" alt="2">
    <img class="selector_img_mobile" src="img/why2.png" alt="3">
  </div>

  <div class="selector_arrow_block-mobile">
    <svg class="selector_arrow" id="selectLeft_mobile" width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.84644 18.5L0.976066 9.53848L8.84644 0.577L11.2258 2.66663L6.58116 7.95515L20.5 7.95515L20.5 11.1218L6.58116 11.1218L11.2258 16.4103L8.84644 18.5Z" fill="#1A1A1D"/>
    </svg>
    <p class="selector_content_navi_block_text" id="navi_block_mobile">1/3</p>
    <svg class="selector_arrow" id="selectRight_mobile" width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1536 0.500033L20.0239 9.46152L12.1536 18.423L9.77423 16.3334L14.4188 11.0449L0.499998 11.0449L0.499999 7.87818L14.4188 7.87818L9.77423 2.58967L12.1536 0.500033Z" fill="#1A1A1D"/>
    </svg>
  </div>

  <div>
    <p class="selector_content_text_mobile">
      Група компаній "Бар'єр. Безпека бізнесу" має честь запропонувати Вам весь
      спектр охоронних послуг як особисті, так і бізнесу. Наша компанія здійснює свою
      діяльність з грудня 2005 року.
    </p>
    <p class="selector_content_text_mobile">
      За час роботи ми накопичили великий практичний досвід з організації охорони
      різноманітних об'єктів, заробили репутацію надійної і стабільної організації,
      що динамічно розвивається на ринку охороних послуг.
    </p>
    <p class="selector_content_text_mobile">
      На сьогоднійній день компанія працює майже у всіх регіонах України.
      Нашими клієнтами є компанії з агропромислового, фінансового та промислового
      секторів економіки, в тому числі й міжнародні компанії.
    </p>
  </div>
  <form>
    <button class="selector_content_button" formaction="/about.html">Про нас</button>
  </form>

</div>
