.aboutPage_top{
  padding-top: 80px;
  padding-bottom: 80px;
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #FFFFFF 0%, #F9FBFF 100%);
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.aboutPage_top._active{
  transform: translate(0px, 0px);
  opacity: 1;
}
.aboutPage_top_position{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutPage_top_title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #1A1A1D;
  margin-bottom: 50px;
}
.aboutPage_top_items{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutPage_top_item{
  text-align: center;
}
.aboutPage_top_item_title{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #1A1A1D;
}
.aboutPage_top_item_content{
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  background-image: linear-gradient(133.71deg, #71797E 15.15%, #35C3E2 54.86%, #00A0E3 115.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutPage_content{
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #434B57 0%, #0F1217 100%);
  padding-bottom: 100px;
  padding-top: 100px;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.aboutPage_content._active{
  transform: translate(0px, 0px);
  opacity: 1;
}
.aboutPage_data_main{
  width: 60%;
  margin-right: 90px;
}

.aboutPage_data_title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}
.aboutPage_data_content_text{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #C8C6D8;
  margin-bottom: 60px;
  text-align: justify;
}


.aboutPage_bottom{
  padding-top: 122px;
  padding-bottom: 122px;
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #FFFFFF 0%, #F9FBFF 100%);
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.aboutPage_bottom._active{
  transform: translate(0px, 0px);
  opacity: 1;
}
.aboutPage_bottom_items{
}



.aboutPage_bottom_icon_background{
  background: linear-gradient(311.01deg, #71797E 0%, #C3D5E1 51.76%, #C1C1C1 108.02%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
.aboutPage_bottom_text{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-left: 20px;
  color: #1A1A1D;
  text-align: center;
}


@media (min-width: 320px) {
  .aboutPage_top_items{
    display: flex;
    flex-direction: column;
  }
  .aboutPage_top_item{
    margin-bottom: 30px;
  }
  .aboutPage_data_content_img{
    max-width: 300px;
  }
  .aboutPage_data{
    display: none;
  }
  .aboutPage_data_content_img_mobile{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  .aboutPage_bottom_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
  .aboutPage_bottom_text{
    text-align: center;
    padding-top: 20px;
  }
  }
@media (min-width: 410px) {
}
@media (min-width: 510px) {
  .aboutPage_data_content_img{
    max-width: 400px;
  }
}
@media (min-width: 610px) {
  .aboutPage_top_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .aboutPage_bottom_content{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .aboutPage_bottom_text{
    text-align: left;
    padding-top: 0px;

  }

}
@media (min-width: 710px) {
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
  .aboutPage_data_content_img{
    max-width: 500px;
  }
  .aboutPage_data{
    display: flex;
    flex-direction: row;
  }
  .aboutPage_data_mobile{
    display: none;
  }
  .aboutPage_bottom_items_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .aboutPage_bottom_items_row_mb{
    margin-bottom: 64px;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1010px) {
  .aboutPage_top_items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .aboutPage_top_item{
    margin-bottom: 0;
  }
  .aboutPage_data_content_img{
    max-width: 500px;
  }
  .aboutPage_data{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
  }
  .aboutPage_bottom_content {
    padding-bottom: 0;
  }
}
@media (min-width: 1110px) {
}
@media (min-width: 1210px) {
  .aboutPage_data_content_img{
    max-width: 600px;
  }
  .aboutPage_data{
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (min-width: 1810px) {
  .aboutPage_data_content_img{
    max-width: 720px;
  }
}