.alarm-office_header{
  background:radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/office.png") no-repeat;
  background-size: cover;
  padding-bottom: 250px;
}
.alarm-office_main{
  background: #FFFFFF;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;

}
.alarm-office_main._active{
  transform: translate(0px, 0px);
  opacity: 1;

}

.alarm-office_main_item_title{
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #1A1A1D;
  margin-bottom: 20px;
}
.alarm-office_item{
  //background: #E5E5E5;
  height: 250px;
  padding: 10px;
  border: #1A1A1D solid 4px;
  box-sizing: border-box;
}
.alarm-office_main_item_content{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
}
.alarm-office_item_title{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #1A1A1D;
  margin-bottom: 20px;
}
.alarm-office_item_content{
  font-weight: 300;
  line-height: 19px;
  color: #4F5357;
}
.alarm-office_item_send{
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(311.01deg, #71797E 0%, #C3D5E1 51.76%, #C1C1C1 108.02%);
}
.alarm-office_content{
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #434B57 0%, #0F1217 100%);
  padding-top: 100px;
  padding-bottom: 110px;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;

}
.alarm-office_content._active{
  transform: translate(0px, 0px);
  opacity: 1;

}

.alarm-office_content_title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}
.alarm-office_content_text-title{
  font-weight: 400;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.alarm-office_content_text-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 26px;
}
.alarm-office_content_text{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #C8C6D8;
  margin-left: 14px;
}


@media (min-width: 320px) {
  .alarm-office_item_content{
    font-size: 12px;
  }
  .alarm-office_main_items{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  .alarm-office_item {
    margin-bottom: 30px;
  }
  .alarm-office_content_block{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .alarm-office_content_main-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #C8C6D8;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-align: justify;
  }
  .alarm-office_content_main{
    padding-left: 10px;
    padding-right: 10px;
  }
  .alarm-office_item_title {
    font-size: 18px;

  }
  .alarm-office_content_text-title {
    font-size: 18px;
  }
  .alarm-office_item_send{
    width: 100%;
  }
  }
@media (min-width: 410px) {
}
@media (min-width: 510px) {

}
@media (min-width: 610px) {


}
@media (min-width: 710px) {
}
@media (min-width: 768px) {
  .alarm-office_main_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  .alarm-office_item {
    margin-bottom: 0;
  }
  .alarm-office_content_block{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .alarm-office_content_main-text {
  }
  .alarm-office_content_main-text{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    text-align: left;
  }
  .alarm-office_content_text-title {
    font-size: 24px;
  }
  .alarm-office_item_title {
    font-size: 24px;

  }

}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1010px) {

}
@media (min-width: 1110px) {
  .alarm-office_main_items{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .alarm-office_content_main-text{
    padding-left: 100px;
    padding-right: 100px;
  }
  .alarm-office_content_main{
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
  .alarm-office_item_content {
    font-size: 16px;
  }
  }
