.alarmHouse_header{
  background: radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/home.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 250px;
}
.alarmHouse_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.alarmHouse_content_text{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #C8C6D8;
}
.alarmHouse_content_text_mb{
  margin-bottom: 20px;
}
.alarmHouse_content_img{
  background: radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/tucsonLogo.jpg") no-repeat center;
  background-size: cover;
  width: 250px;
}
.alarmHouse_content_img_img{
  width: 50%;
}