.alarmButton_header{
  background:radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/manual_item2.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 250px;
}
.kts{
  padding-top: 100px;
  padding-bottom: 100px;
  background:radial-gradient(92.77% 261.96% at 3.76% 12%, #FFFFFF 0%, #F9FBFF 100%);


  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.kts._active{
  transform: translate(0px, 0px);
  opacity: 1;

}
.kts_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kts_for_title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #1A1A1D;
  margin-bottom: 80px;
  text-align: center;
}
.kts_items_block{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 122px;
  padding-right: 122px;
}
.kts_items{
  padding-left: 40px;
  padding-right: 40px;;
}
.kts_item_arrow{
  width: 80px;
  cursor: pointer;
}
.kts_item{
  width: 780px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.kts_counter_box._active_kts {
  transform: scale(1.3);
}
.kts_counter_box:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.kts_item_img{
  width: 50%;
}
.kts_item_title{
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #1A1A1D;
}
.kts_item_text{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4F5357;
}
.kts_item_content{
  margin-left: 40px;
}
.invisible{
  display: none;
}
.kts_counter{
  margin-top: 50px;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.kts_counter_box{
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(311.01deg, #71797E 0%, #C3D5E1 51.76%, #C1C1C1 108.02%);
  cursor: pointer;
  transition: transform 1s;

}
.kts_content{
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #434B57 0%, #0F1217 100%);
  padding-top: 100px;
  padding-bottom: 110px;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.kts_content._active{
  transform: translate(0px, 0px);
  opacity: 1;

}
.kts_content_text{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #C8C6D8;
  margin-left: 14px;
}

