.alarmApartment_header{
  background:radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/item1.png") no-repeat center;
  background-size: cover;
  padding-bottom: 250px;
}