.button-up {
    background: rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    transition: background-color .3s;
    z-index: 998;
    //opacity: 0.5;
    cursor: pointer;
    border: 5px solid #FFFFFF;
}
.button-up_svg{
    margin-bottom: 11px;
}
.button-up_text{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}
.button-up_line{
    margin-top: 4px;
    width: 65px;
    height: 3px;
    box-sizing: border-box;
    background: #71797E;
    opacity: 0.7;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.button-up_line::after{
    content: "";
    background: linear-gradient(133.71deg, #71797E 15.15%, #35C3E2 54.86%, #00A0E3 115.46%);;
    position: absolute;
    z-index: -1;
    display: block;
    transition: all 1s;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
}
.button-up:hover .button-up_line{
    opacity: 1;
}
.button-up:hover .button-up_line::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 1s;
}
.show {
    display: none;
}

@media (min-width: 320px) {
    .button-up_text{
        display: none
    }
    .button-up_line{
        display: none;
    }
    .button-up{
        width: 70px;
        height: 70px;
        bottom: 10px;
        right: 10px;
        padding-top: 18px;

    }
}
@media (min-width: 410px) {
}
@media (min-width: 510px) {
}
@media (min-width: 610px) {
    .button-up_text{
        display: block;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 24px;
    }
    .button-up_line{
        display: block;
    }
    .button-up{
        width: 105px;
        height: 113px;
        bottom: 30px;
        right: 30px;
        padding-top: 30px;

    };

}
@media (min-width: 710px) {
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1010px) {
}
@media (min-width: 1110px) {
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
}
