.contacts_header{

    background: no-repeat center;
    background-image: radial-gradient(39.58% 44.72% at 48.15% 55.28%, rgba(0, 4, 90, 0) 0%, rgba(0, 0, 4, 0.559) 100%), url("/img/Contact.png");
    background-size: cover;
    padding-bottom: 50px;
}
.contacts_header-title{
    color: #FFFFFF;
    padding-top: 100px;
    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.contacts_header-title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.contacts_main{
    padding-top: 60px;
    padding-bottom: 80px;

    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.contacts_main._active{
    transform: translate(0px, 0px);
    opacity: 1;

}
.contacts_line{
    width: 100%;
    height: 2px;
    background: #1A1A1D;
}
.contacts_main-tel-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 70px;
}
.contacts_main-tel_num-block{
    padding-left: 10px;
    padding-bottom: 2px;
    cursor: pointer;
}
.contacts_main-tel{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contacts_main-tel_num{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1D;
}
.contacts_main-tel:hover .header-main-menu_navi-tel_line{
    opacity: 1;
}
.contacts_main-tel:hover .header-main-menu_navi-tel_line::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 1s;
}
.contacts_main-map_title{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #1A1A1D;
    margin-bottom: 30px;
}
.contacts_main-map_city{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1D;
    margin-bottom: 20px;
}
.contacts_main-map_line{
    width: 100%;
}
.contacts_main-map_content{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1D;
}
.contacts_main-map_content-block{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contacts_main-map_content_text{
    padding-left: 16px;
    cursor: pointer;
}
.contacts_main-map_content_text:hover .header-main-menu_navi-tel_line{
    opacity: 1;
}
.contacts_main-map_content_text:hover .header-main-menu_navi-tel_line::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 1s;
}

@media (min-width: 320px) {
    .contacts_header-title{
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }
    .contacts_big-map{
        display: none;
    }
    .contacts_middle-map{
        display: none;
    }
    .contacts_min-map{
        display: block;
    }
    .contacts_large-map{
        display: none;
    }
    .contacts_main-tel-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 70px;
    }
    .contacts_main-tel_title{
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #4F5357;
        margin-bottom: 20px;
    }
    .contacts_tel {
        padding-bottom: 20px;
        text-align: center;
    }
    .contacts_main-map_block{
        display: flex;
        flex-direction: column;
        padding-top: 80px;
    }
    .contacts_main-map_text-block{
        padding-top: 50px;

    }

}
@media (min-width: 410px) {
}
@media (min-width: 510px) {
}
@media (min-width: 610px) {
    .contacts_min-map{
        display: none;
    }
    .contacts_large-map{
        display: none;
    }
    .contacts_big-map{
        display: none;
    }
    .contacts_middle-map{
        display: block;
    }
    .contacts_main-tel-block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 70px;
    }
    .contacts_header-title {
        font-weight: 500;
        font-size: 64px;
        line-height: 77px;
        text-align: left;
    }
}


@media (min-width: 710px) {
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
    .contacts_main-map_block{
        flex-direction: row;
        justify-content: space-around;
    }
    .contacts_main-map_text-block{
        padding-top: 0;
    }

}
@media (min-width: 992px) {
}
@media (min-width: 1010px) {
    .contacts_large-map{
        display: none;
    }
    .contacts_middle-map{
        display: block;
    }
    .contacts_main-tel_title{
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
    }

}
@media (min-width: 1110px) {
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
    .contacts_middle-map{
        display: none;
    }
    .contacts_min-map{
        display: none;
    }
    .contacts_large-map{
        display: none;
    }
    .contacts_big-map{
        display: block;
    }
}


