.faq_main{
  background:radial-gradient(92.77% 261.96% at 3.76% 12%, #FFFFFF 0%, #F9FBFF 100%);
  padding-top: 150px;
  padding-bottom: 150px;

  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.faq_main._active{
  transform: translate(0px, 0px);
  opacity: 1;
}
.faq_main_title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 50px;
  text-align: center;
}
.invisible{
  display: none!important;
}
.faq_main_block{
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #FFFFFF 0%, #F9FBFF 100%);
  padding-bottom: 20px;
}

@media (min-width: 320px) {
  .title_faq{
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    color: #434343;;
    margin-top: 120px;
    margin-bottom: 45px;
    display: none;
  }
  .title_faq_span{
    font-style: italic;
    color: #434343;;
  }
  .faq_block{
    background: radial-gradient(92.77% 261.96% at 3.76% 12%, #FFFFFF 0%, #F9FBFF 100%);
    //box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.07);
    padding: 10px;
    margin-bottom: 15px;
    border: #1A1A1D solid 2px ;
  }
  .qst_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hover_style{
    cursor: pointer;
  }
  .btn-svg{
    stroke: #434242;
  }
  .btn_closed{
    z-index: 999;
    cursor: pointer;
  }
  .btn_open{
    z-index: 0;
  }
  .btn_closed:hover{
    background-color: #434343;;
  }
  .btn_closed:hover .btn-svg{
    stroke: #FFFFFF;
  }
  .hover_style:hover{
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }
  .hover_style:hover .qst_text{
    color: #434343;;
  }
  .hover_style:hover .btn_faq{
    background-color: #434343;;
  }
  .hover_style:hover .btn_faq .btn-svg{
    stroke: white;
  }
  .qst_text{
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    color: #434343;;
    padding: 15px 0 15px;
  }
  .btn_faq{
    box-sizing: border-box;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box {
    animation: 3s show;
  }
  .faq_line{
    background: rgba(200, 198, 216, 0.3);
    width: 100%;
    height: 2px;
  }

  @keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  .ans_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 15px;
  }
  .example{
    background: radial-gradient(92.77% 261.96% at 3.76% 12%, #FFFFFF 0%, #F9FBFF 100%);
  }
}


@media (min-width: 910px) {
  .title_faq {
    display: block;
  }
  .ans_text{
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .faq_block{
    padding: 25px;
  }
  .qst_block{
  }
  .qst_text{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1D;
    padding: 0;
  }
  .ans{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .ans_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #4F5357;
    padding: 0;
  }
  .example{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #4F5357;
    padding: 15px;
  }
}
@media screen and (min-width: 1210px) {
  .header__content {
    left: 50%;
    transform: translate(-50%, 0);
  }
}