.footer{
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.footer._active{
  transform: translate(0px, 0px);
  opacity: 1;
}

.footer-top-background{
  background: url("/img/BgFooter.png") no-repeat center;
  background-size: cover;
  padding-bottom: 144px;
  padding-top: 144px;
}
.footer-top-main_text{
  color: #1A1A1D;
}

.footer-centre-background{
  background-color: #1A1A1D;
  padding-bottom: 70px;
  padding-top: 70px;
}
.footer-centre{

}
.footer-centre-text{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #C8C6D8;
}
.footer-centre-text-title{
  margin-bottom: 24px;
}
.footer-centre-data{
  margin-right: 54px;
}
.footer-centre-data_block{
  display: flex;
}
.footer-centre-tel_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.footer-centre-tel_block-icon{
  margin-right:15px
}
.footer-centre-tel_number{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF
}
.footer-centre-input_block{
  margin: 0 auto;
}
.footer-centre-input_title{
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 8px;
}
.footer-centre-button{
  width: 300px;
  background: #1A1A1D;
  font-size: 16px;
  color: #FFFFFF;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}
.footer-centre-button:hover{
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
.footer-bottom-background{
  background-color: #FFFFFF;
  padding-bottom: 56px;
  padding-top: 56px;

}
.footer-bottom-position{
  display: flex;
  justify-content: space-between;
}
.footer-bottom-icons{
  margin-right: 22px;
}


@media (min-width: 320px) {
  .footer-top-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-top-main_text{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #1A1A1D;
    margin-bottom: 10px;
  }
  .footer-top-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #4F5357;
    margin-bottom: 10px;

  }
  .footer-centre-input{
    margin-bottom: 8px;
    background: none;
    width: 300px;
    padding: 14px 20px;
    font-size: 16px;
    line-height: 19px;
    border: #1A1A1D 2px solid;
    box-sizing: border-box;
  }
  .footer-centre-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-centre-data_block {
    flex-direction: column;
  }
  .footer-centre-map{
    margin-top: 20px;
    display: none;
  }
  .footer-bottom-position{
    flex-direction: column;
  }
  .footer-bottom-position-data{
    margin-bottom: 20px;
    text-align: center;
  }


}
@media (min-width: 410px) {
}
@media (min-width: 510px) {

}
@media (min-width: 610px) {
  .footer-centre-map{
    display: block;
  }
}
@media (min-width: 710px) {
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
  .footer-top-main_text{
    font-weight: 500;
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 20px;
    text-align: left;
  }
  .footer-top-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
  .footer-centre-block {
    flex-direction: row;
  }
  .footer-centre-data_block {
    flex-direction: row;
  }
  .footer-bottom-position{
    flex-direction: row;
  }
  .footer-bottom-position-data{
    margin-bottom: 0;
    text-align: center;
  }



}
@media (min-width: 910px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1010px) {
  .footer-top-text_block{
    width: 50%;
  }
  .footer-top-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1110px) {
  }
@media (min-width: 1210px) {

}
@media (min-width: 1810px) {
  .footer-top-main_text {
    font-size: 64px;
    line-height: 77px;
  }
  .footer-top-text {
    font-size: 24px;
    line-height: 29px;
  }
}
