.header-main-logo{
  width: 56px;
  height: 56px;
  transition: transform 1s;
}
.header-main-logo:hover{
  transform: scale(1.5);
}

.header-main-logo-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
  text-decoration: none;
}
.header-main-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-main-menu_navi{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.header-main-menu_navi-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  height: 90px;
}
.header-main-menu_navi-text_link{

}

 .header-main-menu_navi-text_border-bottom{
  background: none;
  width: 100%;
  height: 2px;
   box-sizing: border-box;
   opacity: 0.7;
   position: relative;
   overflow: hidden;
   z-index: 1;
 }
.header-main-menu_navi-text_border-bottom::after{
  content: "";
  background: linear-gradient(133.71deg, #71797E 15.15%, #35C3E2 54.86%, #00A0E3 115.46%);;
  position: absolute;
  z-index: -1;
  display: block;
  transition: all 1s;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
.header-main-menu_navi-text:hover .header-main-menu_navi-text_border-bottom::after{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s;
}
.header-main-menu_navi-text_border{
  border-right:rgba(200, 198, 216, 0.3) 2px solid ;
}
.header-main-menu_navi-tel_block{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-main-menu_navi-tel_num_block{
  margin-right: 10px;
  cursor: pointer;
}
.header-main-menu_navi-tel{
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
}
.header-main-menu_navi-tel_line{
  width: 154px;
  height: 3px;
  box-sizing: border-box;
  background: #71797E;
  opacity: 0.7;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.header-main-menu_navi-tel_line::after{
  content: "";
  background: linear-gradient(133.71deg, #71797E 15.15%, #35C3E2 54.86%, #00A0E3 115.46%);;
  position: absolute;
  z-index: -1;
  display: block;
  transition: all 1s;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;

}
.header-main-menu_navi-tel_num_block:hover .header-main-menu_navi-tel_line{
  opacity: 1;
}
.header-main-menu_navi-tel_num_block:hover .header-main-menu_navi-tel_line::after{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s;
}
.header-main-menu_bottom_line{
  background: rgba(200, 198, 216, 0.3);
  width: 100%;
  height: 2px;
  margin-top: -2px;
}

.header-burger{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 12px;
  border-bottom: rgba(200, 198, 216, 0.3) 2px solid;

}
.header-burger_line-block{
  width: 42px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.header-burger_line{
  background: #FFFFFF;
  height: 4px;
  width: 100%;
}


.header-burger_open{
  width: 100%;
  background: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 40px;
  position: fixed;
  z-index: 11;
  top: 0;

  transform: translate(0px, -120%);
  opacity: 0;
  transition: all .8s ease 0s;
}
.header-burger_open._active-burger-menu{
  transform: translate(0px, 0px);
  opacity: 1;
}

.header-burger_open_top{
  border-bottom: rgba(200, 198, 216, 0.3) 2px solid;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-burger_open_close-icon{
  position: relative;
}
.header-burger_open_top_line1{
  position: absolute;
  width: 42px;
  height: 4px;
  background: #1A1A1D;
  transform: rotate(45deg);
}
.header-burger_open_top_line2{
  width: 42px;
  height: 4px;
  background: #1A1A1D;
  transform: rotate(-45deg);
}
.header-burger_open-menu{
  border-bottom: rgba(200, 198, 216, 0.3) 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 100px;
}
.header-burger_open-menu-link{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #1A1A1D;
  padding-bottom: 20px;
  text-decoration: none;
}
.header-burger_open-icon-block{
  padding-top: 30px;
  text-align: center;
}
.header-burger_open-icon{
  margin-right: 32px;
}


@media (min-width: 320px) {
  .header-big {
    display: none
  }
  .header-burger{
    display: flex;
  }
}
@media (min-width: 1010px) {
  .header-big {
    display: flex;
    flex-direction: column;

  }
  .header-burger{
    display: none;
  }
  .header-main-menu_navi-text_link{
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (min-width: 1110px) {

}
@media (min-width: 1210px) {
  .header-main-menu_navi-text_link{
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1810px) {
  .header-main-menu_navi-text_link{
    padding-right: 64px;
    padding-left: 64px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}