.main_header_title{
  color: #FFFFFF;

  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main_header_title._active{
  transform: translate(0px, 0px);
  opacity: 1;
}
.main_header_content{
  padding-bottom: 30px;
  color: #C8C6D8;

  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main_header_content._active{
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;

}
.main_menu_blocks{
  box-sizing: border-box;
  position: relative;
  top: -80px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05), 0px 4px 14px rgba(0, 0, 0, 0.15);
}


@media (min-width: 320px) {
  .main_header{
    background:radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/Bg2.png") no-repeat;
    background-size: cover;
    padding-bottom: 250px;
  }

  .main_header_top{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_header_title{
    padding-top: 100px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }
  .main_header_content{
    width: 300px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  .main_header_button{
    cursor: pointer;
    background: #FFFFFF;
    box-sizing: border-box;
    width: 230px;
    height: 48px;
    padding: 12px 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1D;
    border: none;
    overflow: hidden;

    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  .main_header_button._active{
    transform: translate(0px, 0px);
    opacity: 1;
  }
  .main_menu_blocks{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  .main_menu_block_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main_menu_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .main_menu_block_first{
    border-bottom:rgba(200, 198, 216, 0.3) solid 2px;
    margin-bottom: 10px;
  }
  .main_menu_block_centre{
    border-bottom:rgba(200, 198, 216, 0.3) solid 2px;
    margin-bottom: 10px;
  }
}
@media (min-width: 410px) {
}
@media (min-width: 510px) {
}
@media (min-width: 610px) {
  .main_header{
    background: radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/Bg.png") no-repeat center;
  }

  .main_menu_block{
    width: 25%;
  }
  .main_menu_blocks{
    display: flex;
    flex-direction: row;
    padding: 30px 10px;
  }
  .main_menu_block_centre{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: none;

  }
  .main_menu_block_first{
    padding-right: 10px;
    border-bottom: none;
  }
  .main_menu_block_last{
    padding-left: 10px;
  }
  .vert_line{
    width: 4px;
    height: 126px;
    background: rgba(200, 198, 216, 0.3);
  }
  .main_menu_block_text{
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 710px) {
  .main_menu_blocks {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
}
@media (min-width: 992px) {
  .main_header_title{
    padding-top: 210px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
  }
  .main_header_content{
    width: 300px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .main_menu_blocks {
    padding: 60px 30px;
  }
  .main_menu_block_centre{
      padding-left: 30px;
      padding-right: 30px;
    }
  .main_menu_block_first{
      padding-right: 30px;
    }
  .main_menu_block_last{
      padding-left: 30px;
    }
  .main_menu_block_text{
    font-size: 18px;
  }
}
@media (min-width: 1010px) {
  .main_header_top {
    align-items: start;
  }
  .main_header_title{
    padding-top: 210px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    text-align: left;
  }
  .main_header_content{
    width: 520px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;

  }
  .main_header_button{
    cursor: pointer;
    position: absolute;
    background: #FFFFFF;
    box-sizing: border-box;
    width: 230px;
    height: 48px;
    padding: 12px 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1D;
    border: none;
    overflow: hidden;
    &:before{
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: .5;
      filter: blur(30px);
      transform: translateX(-100px)  skewX(-15deg);
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,0.2);
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
    }
    &:hover{
      background: linear-gradient(311.01deg, #71797E 0%, #C3D5E1 51.76%, #C1C1C1 108.02%);
      &:before{
        transform: translateX(300px) skewX(-15deg);
        opacity: 0.5;
        transition: 1s;
      }
      &:after{
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: 1s;
      }
    }
  }
  .main_menu_blocks{
    padding: 60px 50px;
  }
  .main_menu_block_centre{
    padding-left: 60px;
    padding-right: 60px;
  }
  .main_menu_block_first{
    padding-right: 60px;
  }
  .main_menu_block_last{
    padding-left: 60px;
  }
}
@media (min-width: 1110px) {
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {

}