.modal {
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal-active{
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
}
.modal__content {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05), 0px 4px 14px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  box-sizing: border-box;
  width:602px;
  padding: 80px;
  position: relative;
}
.close_icon{
  position: absolute;
  top: 24px;
  left: 546px;
  cursor: pointer;
}
.input-form {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #1A1A1D;
  margin-bottom: 15px;
  font-size: 18px;
  color: #C0C0C0;
  outline: none;
  padding: 14px;
}
.textarea-fixed {
  resize: none;
}
.input-form:focus {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #434343;
}
.input-form-title{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #1A1A1D;
  opacity: 0.5;
  margin-bottom: 6px;
}
.main_hidden {
  overflow: hidden;
}
.btn_modal {
  background: #1A1A1D;
  padding: 16px 20px;
  color:  #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 60px;
}
.btn_modal:hover{
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
.title_text_modal{
  color: #1A1A1D;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 60px;
}
.modal_block_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}