.promotion_background{
  background: linear-gradient(311.01deg, #71797E 0%, #C3D5E1 51.76%, #C1C1C1 108.02%);;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.promotion_background._active{
  transform: translate(0px, 0px);
  opacity: 1;
}
.promotion-title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #1A1A1D;
  margin-bottom: 20px;
}
.promotion-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4F5357;
}
.promotion-button{
  padding: 12px 64px;
  background: #1A1A1D;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

@media (min-width: 320px) {
  .promotion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    .promotion_img{
      width: 100%;
    }
  }
}
@media (min-width: 410px) {
}
@media (min-width: 510px) {
}
@media (min-width: 610px) {
}
@media (min-width: 710px) {
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
  .promotion{
    flex-direction: row;
    text-align: left;
  }

}
@media (min-width: 992px) {
}
@media (min-width: 1010px) {
}
@media (min-width: 1110px) {
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
}
