.pultPage_header{
  background:radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/alarmSystem.png") no-repeat;
  background-size: cover;
  padding-bottom: 250px;
}

.pultPage_main-menu{
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #FFFFFF 0%, #F9FBFF 100%);
}
.pultPage_top{
  padding-top: 80px;
  padding-bottom: 80px;
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #FFFFFF 0%, #F9FBFF 100%);
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.pultPage_top._active{
  transform: translate(0px, 0px);
  opacity: 1;
}
.pultPage_top_data_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 60px;
}

.pultPage_top_data_img{
  margin-right: 60px;
}
.pultPage_top_data_title{
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  background-image: linear-gradient(133.71deg, #71797E 15.15%, #35C3E2 54.86%, #00A0E3 115.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.pultPage_items{
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(311.01deg, #71797E 0%, #C3D5E1 51.76%, #C1C1C1 108.02%);;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}


.pultPage_items._active{
  transform: translate(0px, 0px);
  opacity: 1;
}
.pultPage_item{
  box-sizing: border-box;
  height: 250px;
  padding: 40px;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pultPage_item1{
  background:radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/item1_1.png") no-repeat center;
  background-size: cover;

}
.pultPage_item2{
  background:radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/office.png") no-repeat center;
  background-size: cover;

}
.pultPage_item3{
  background:radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/home.jpg") no-repeat;
  background-size: cover;

}
.pultPage_item4{
  background:radial-gradient(98.03% 53.33% at 78.8% 59.17%, rgba(0, 3, 74, 0) 0%, rgba(0, 0, 4, 0.65) 100%), url("/img/manual_item2.jpg") no-repeat;
  background-size: cover;

}
.pultPage_item_text{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #C8C6D8;
}
.pultPage_item_link_text{
  font-weight: 400;
  line-height: 24px;
  color: #C8C6D8;
}
.pultPage_item_link_line{
  box-sizing: border-box;
  width: 104px;
  height: 3px;
  background: #71797E;
  opacity: 0.5;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.pultPage_item_link_line:hover {
  opacity: 1;
}
.pultPage_item_link_line::after {
  content: "";
  background: linear-gradient(133.71deg, #71797E 15.15%, #35C3E2 54.86%, #00A0E3 115.46%);;
  position: absolute;
  z-index: -1;
  display: block;
  transition: all 1s;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
.pultPage_item:hover .pultPage_item_link_line::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s;
}
.pultPage_item:hover .pultPage_item_text{
  color: #FFFFFF;
}
.pultPage_item:hover .pultPage_item_link_text{
  color: #FFFFFF;
}

@media (min-width: 320px) {
  .pultPage_items_position{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pultPage_item{
    margin: 40px;
    width: 300px;
    justify-self: center;
    align-self: center;
  }
  .pultPage_top_data_text{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #1A1A1D;
  }
}
@media (min-width: 410px) {
}
@media (min-width: 510px) {
}
@media (min-width: 610px) {
  .pultPage_item{
    width: 400px;
  }

}
@media (min-width: 710px) {
}
@media (min-width: 768px) {
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {

}
@media (min-width: 992px) {
  .pultPage_items_position{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .pultPage_top_data_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1A1A1D;
  }
}
@media (min-width: 1010px) {
}
@media (min-width: 1110px) {
}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
}