.pultPage_pay{
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #434B57 0%, #0F1217 100%);
  padding-bottom: 100px;
  padding-top: 100px;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.pultPage_pay._active{
  transform: translate(0px, 0px);
  opacity: 1;
}
.pultPage_pay_title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}


.pultPage_pay_data_text-title{
  font-size: 22px;
  margin-bottom: 16px;
}
.pultPage_pay_data_button{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}
.pultPage_pay_data_button_link{
  cursor: pointer;
}
.pultPage_pay_data_button_link:hover .services-page_item_link_line::after{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s;
}
.pultPage_pay_data_button_img{
  width: 34px;
  height: 34px;
  margin-right: 20px;

}
.pultPage_pay_data_button_text{
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #C8C6D8;
}

@media (min-width: 320px) {
  .pultPage_pay_vert-line{
    background: rgba(200, 198, 216, 0.3);
    width: content-box;
    height: 2px;
    margin: 40px;
  }
  .pultPage_pay_data_text{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #C8C6D8;
  }
}
@media (min-width: 410px) {
}
@media (min-width: 510px) {

}
@media (min-width: 610px) {

}
@media (min-width: 710px) {

}
@media (min-width: 768px) {

}
@media (min-width: 810px) {

}
@media (min-width: 910px) {
  .pultPage_pay_data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .pultPage_pay_data_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #C8C6D8;
  }
  .pultPage_pay_vert-line{
    background: rgba(200, 198, 216, 0.3);
    width: 2px;
    height: 100px;
    margin: 0;
  }

}
@media (min-width: 992px) {

}
@media (min-width: 1010px) {

}
@media (min-width: 1110px) {

}
@media (min-width: 1210px) {

}
@media (min-width: 1810px) {

}
