.services-page_header{

  background: no-repeat;
  background-image: radial-gradient(39.58% 44.72% at 48.15% 55.28%, rgba(0, 4, 90, 0) 0%, rgba(0, 0, 4, 0.559) 100%), url("/img/services.png");
  background-size: cover;
  padding-bottom: 50px;
}
.services-page_main{
  padding-top: 80px;
  padding-bottom: 80px;
}
.services-page_item{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.services-page_item._active{
  transform: translate(0px, 0px);
  opacity: 1;

}
.services-page_item_img{
  width: 50%;
}
.services-page_item_text{
  width: 50%;
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #434B57 0%, #0F1217 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-page_item_text_pl{
  padding-left: 80px;
}
.services-page_item_title_mb{
  margin-bottom: 20px;
}
.services-page_item_title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  text-decoration: none;
}
.services-page_item_title:hover{
}

.services-page_item_link-block{
  width: fit-content;
  box-sizing: content-box;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}
.services-page_item_link{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}
.services-page_item_link_line{
  margin-top: 2px;
  width: 100%;
  height: 3px;
  box-sizing: border-box;
  background: #71797E;
  opacity: 0.7;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.services-page_item_link_line::after{
  content: "";
  background: linear-gradient(133.71deg, #71797E 15.15%, #35C3E2 54.86%, #00A0E3 115.46%);;
  position: absolute;
  z-index: -1;
  display: block;
  transition: all 1s;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;

}
.services-page_item_link-block:hover .services-page_item_link_line{
  opacity: 1;
}
.services-page_item_link-block:hover .services-page_item_link_line::after{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s;
}

.services-page_item-tablet{
  height: 350px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
  background: no-repeat;
  background-size: cover;
}
.services-page_item-tablet_bkgnd1{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/Bg2.png");
}
.services-page_item-tablet_bkgnd2{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/alarmSystem.png");
}
.services-page_item-tablet_bkgnd3{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/camera.png");
}
.services-page_item-tablet_bkgnd4{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/TZI.png");
}
.services-page_item_tablet_title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-decoration: none;
}
.services-page_item_tablet_text{
  font-weight: 300;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 10px;
}

@media (min-width: 320px) {
  .services-page_main{
    display: none;
  }
  .services-page_main-tablet{
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .services-page_item_tablet_text {
    font-size: 12px;
  }
  }
@media (min-width: 510px) {
  .services-page_item_tablet_text {
    font-size: 16px;
  }

}
@media (min-width: 910px) {
  .services-page_main{
    display: block;
  }
  .services-page_main-tablet{
    display: none;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}