.services_wrapper{
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #434B57 0%, #0F1217 100%);
  padding-bottom: 150px;
  padding-top: 150px   ;
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.services_wrapper._active{
  transform: translate(0px, 0px);
  opacity: 1;
}

.services_title_big{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.services_title_text{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #C8C6D8;
}
.services_title_item{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;

}
.services_text_item{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #C8C6D8;
}
.services_link{
  margin-left: auto;
}
.services_link_text{
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}
.services_link_line{
  box-sizing: border-box;
  width: 104px;
  height: 3px;
  background: #71797E;
  opacity: 0.5;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.services_link_line:hover {
  opacity: 1;
}
.services_link_line::after {
  content: "";
  background: linear-gradient(133.71deg, #71797E 15.15%, #35C3E2 54.86%, #00A0E3 115.46%);;
  position: absolute;
  z-index: -1;
  display: block;
  transition: all 1s;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
.services_link:hover .services_link_line::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s;
}
.services_item{
  background: linear-gradient(311.01deg, #71797E 0%, #C3D5E1 51.76%, #C1C1C1 108.02%);
  padding: 3px;
  box-sizing: border-box;
  text-decoration: none;
}
.services_item_insert{
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #434B57 0%, #0F1217 100%);
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;

}
.services_item_insert:hover {
    background: linear-gradient(311.01deg, #71797E 0%, #C3D5E1 51.76%, #C1C1C1 108.02%);
  }
.services_item_insert:hover .services_title_item{
  color: #1A1A1D;
  transition: .5s;
}
.services_item_insert:hover .services_text_item {
  color: #4F5357;
  transition: .5s;
}
.services_item_more{
  background: #71797E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 250px;


}
.services_item_more:hover{
  background: linear-gradient(311.01deg, #71797E 0%, #C3D5E1 51.76%, #C1C1C1 108.02%);

}
.services_item_more_text{
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

@media (min-width: 320px) {
  .services_item_block{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr;
  }
  .services_link_text {
    font-size: 14px;
  }

  }
@media (min-width: 410px) {
}
@media (min-width: 510px) {
}
@media (min-width: 610px) {

}
@media (min-width: 710px) {
}
@media (min-width: 768px) {
  .services_item_block{
    grid-template-columns: 1fr 1fr;
  }
  .services_link_text {
    font-size: 16px;
  }
  .services_item{
  height: 250px;
  }
}
@media (min-width: 810px) {
}
@media (min-width: 910px) {
}
@media (min-width: 992px) {


}
@media (min-width: 1010px) {
}
@media (min-width: 1110px) {
  .services_item_block{
    grid-template-columns: 1fr 1fr 1fr;
  }

}
@media (min-width: 1210px) {
}
@media (min-width: 1810px) {
}
