.whyUs_title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #1A1A1D;
}
.selector{
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.selector._active{
  transform: translate(0px, 0px);
  opacity: 1;
}
.selector_text_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 60px;
}
.selector_text{
  width: 250px;
  height: 66px;
  font-weight: 400;
  line-height: 22px;
  color: #4F5357;
  text-align: center;
  box-sizing: border-box;
}

.selector_line{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
.circle_selector {
  background: radial-gradient(92.77% 261.96% at 3.76% 12%, #434B57 0%, #0F1217 100%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}
.circle_selector_act{
  opacity: 0.5;
}
.circle_selector_active{
  position: relative;
  top: -8px;
  left: -7.5px;
}
.circle_selector_act:hover{
  opacity: 1;
}
.selector_text_active{
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.05), 0 4px 14px rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
}
.line_selector{
  height: 2px;
  background: #C8C6D8;
}

.selector_imgs_block{
  position: relative;
  width: 697px;
  height: 374px;
  box-sizing: border-box;
}
.selector_img{
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.05)) drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.15));
}
.selector_img_1{
  position: absolute;
  z-index: 1;
  width: 522px;
  height: 314px;
  left: 25.11%;
  right: 0;
  top: 16.04%;
  bottom: 0;
}
.selector_img_2{
  position: absolute;
  width: 522px;
  height: 314px;
  z-index: 0;
  left: 12.48%;
  right: 12.63%;
  top: 0;
  bottom: 16.04%;
  filter: blur(3px);
}
.selector_img_3{
  position: absolute;
  width: 450px;
  height: 274px;
  z-index: 0;
  left: 0;
  right: 35.44%;
  top: 18.98%;
  bottom: 7.75%;
  filter: blur(3px);

}

.selector_content_text{
  height: 50%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4F5357;
  text-align: justify;
}
.selector_content_navi_block{
  display: flex;
  flex-direction: row;
}
.selector_content_navi_block_text{
  margin: 0 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.selector_content_button{
  background: #FFFFFF;
  cursor: pointer;
  position: relative;
  width: 230px;
  height: 48px;
  border: 2px solid #1A1A1D;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1D;
  overflow: hidden;
  transition: 1s;
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px)  skewX(-15deg);
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &:hover{
    background: linear-gradient(311.01deg, #71797E 0%, #C3D5E1 51.76%, #C1C1C1 108.02%);

    &:before{
      transform: translateX(300px) skewX(-15deg);
      opacity: 0.5;
      transition: 1s;
    }
    &:after{
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: 1s;
    }
  }
}
.selector_arrow{
  cursor: pointer;
}
.selector_invisible{
  display: none;
}

.selector_arrow_block-mobile{
  display: flex;
  flex-direction: row;

}
.selector_content_text_mobile{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #4F5357;
  margin-top: 38px;
  height: 200px;
}
.selector_img_mobile{
  width: 100%;
 }

@media (min-width: 320px) {
  .selector_big{
    display: none;
  }
  .selector_mobile{
    display: flex;
  }
  .selector{
    padding-top: 40px;
    padding-bottom: 80px;

  }
}
@media (min-width: 410px) {
}
@media (min-width: 510px) {
}
@media (min-width: 610px) {
}
@media (min-width: 810px) {
  .selector{
    padding-top: 150px;
    padding-bottom: 160px;

  }
  .selector_mobile{
    display: none;
  }
  .selector_big{
    display: flex;
  }
  .selector_content{
    display: flex;
    flex-direction: column;
  }
  .selector_content_text_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
    height: 200px;
    align-items: center;
  }
  .line_selector{
    width: 200px;
  }
  .selector_text_mg{
    margin: 0 30px;
  }
  .selector_text{
    font-size: 14px;
  }

}

@media (min-width: 910px) {
}
@media (min-width: 992px) {

}
@media (min-width: 1010px) {

}
@media (min-width: 1110px) {
  .selector_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .selector_content_text_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding-bottom: 50px;
    padding-top: 50px;
    height: auto;
  }
  .line_selector{
    width: 320px;
  }
  .selector_text_mg{
    margin: 0 100px;
  }
  .selector_text{
    font-size: 18px;
  }

}
@media (min-width: 1210px) {

}
@media (min-width: 1810px) {
}